obj_dir/*
tsthw/iceblink40-hx1k/.sconsign.dblite
tsthw/iceblink40-hx1k/hardware.asc
tsthw/iceblink40-hx1k/hardware.bin
tsthw/iceblink40-hx1k/hardware.blif
tsthw/upduino2/.sconsign.dblite
tsthw/upduino2/hardware.asc
tsthw/upduino2/hardware.bin
tsthw/upduino2/hardware.blif
tsthw/upduino2/iCEcube2_flow/.vdbs/
tsthw/upduino2/iCEcube2_flow/iCEcube2_flow_Implmnt/*
tsthw/upduino2/iCEcube2_flow/iCEcube2_flow_lse.prj
tsthw/upduino2/iCEcube2_flow/iCEcube2_flow_lse.twr
tsthw/upduino2/iCEcube2_flow/mytop.arearep
tsthw/upduino2/iCEcube2_flow/mytop_drc.log
tsthw/upduino2/iCEcube2_flow/mytop_prim.v
tsthw/upduino2/iCEcube2_flow/xxx_lse_cp_file_list
tsthw/upduino2/iCEcube2_flow/xxx_lse_sign_file
tsthw/iceblink40-hx1k/iCEcube2_flow/.vdbs/
tsthw/iceblink40-hx1k/iCEcube2_flow/iCEcube2_flow_Implmnt/
tsthw/iceblink40-hx1k/iCEcube2_flow/iCEcube2_flow_lse.prj
tsthw/iceblink40-hx1k/iCEcube2_flow/iCEcube2_flow_lse.twr
tsthw/iceblink40-hx1k/iCEcube2_flow/top.arearep
tsthw/iceblink40-hx1k/iCEcube2_flow/top_drc.log
tsthw/iceblink40-hx1k/iCEcube2_flow/top_prim.v
tsthw/iceblink40-hx1k/iCEcube2_flow/xxx_lse_cp_file_list
tsthw/iceblink40-hx1k/iCEcube2_flow/xxx_lse_sign_file
bin/m_ice40sim_EBRonly.bin
bin/m_ice40sim_SRAM.bin
bin/midgetv_bin2ebr
bin/midgetv_genucode
