work/obj_dir/*
work/nobackup_cold_store/*
work/bin/iceblinkcom
work/bin/m_ice40sim_EBRonly.bin
work/bin/m_ice40sim_SRAM.bin
work/bin/midgetv_bin2ebr
work/bin/midgetv_genucode
work/bin/ucodeinitval.hv
work/bin/m_ucodepc.bin
work/bin/m_alu.bin
work/bin/midgetv_indirectEBR
work/bin/m_2ebr
work/bin/simmorse
work/bin/simeratosthenes

work/hwtst/iceblink40-hx1k/.sconsign.dblite
work/hwtst/iceblink40-hx1k/hardware.asc
work/hwtst/iceblink40-hx1k/hardware.bin
work/hwtst/iceblink40-hx1k/hardware.blif
work/hwtst/iceblink40-hx1k/iCEcube2_flow/.vdbs/
work/hwtst/iceblink40-hx1k/iCEcube2_flow/iCEcube2_flow_Implmnt/
work/hwtst/iceblink40-hx1k/iCEcube2_flow/iCEcube2_flow_lse.prj
work/hwtst/iceblink40-hx1k/iCEcube2_flow/iCEcube2_flow_lse.twr
work/hwtst/iceblink40-hx1k/iCEcube2_flow/iCEcube2_flow_syn.prd
work/hwtst/iceblink40-hx1k/iCEcube2_flow/stdout.log
work/hwtst/iceblink40-hx1k/iCEcube2_flow/stdout.log.bak
work/hwtst/iceblink40-hx1k/iCEcube2_flow/synlog.tcl
work/hwtst/iceblink40-hx1k/iCEcube2_flow/top.arearep
work/hwtst/iceblink40-hx1k/iCEcube2_flow/top_drc.log
work/hwtst/iceblink40-hx1k/iCEcube2_flow/top_prim.v
work/hwtst/iceblink40-hx1k/iCEcube2_flow/xxx_lse_cp_file_list
work/hwtst/iceblink40-hx1k/iCEcube2_flow/xxx_lse_sign_file
work/hwtst/iceblink40-hx1k/ice40loaderprog.hv

work/hwtst/upduino2/.sconsign.dblite
work/hwtst/upduino2/hardware.asc
work/hwtst/upduino2/hardware.bin
work/hwtst/upduino2/hardware.blif
work/hwtst/upduino2/iCEcube2_flow/.vdbs/
work/hwtst/upduino2/iCEcube2_flow/iCEcube2_flow_Implmnt/*
work/hwtst/upduino2/iCEcube2_flow/iCEcube2_flow_lse.prj
work/hwtst/upduino2/iCEcube2_flow/iCEcube2_flow_lse.twr
work/hwtst/upduino2/iCEcube2_flow/iCEcube2_flow_syn.prd
work/hwtst/upduino2/iCEcube2_flow/mytop.arearep
work/hwtst/upduino2/iCEcube2_flow/mytop_drc.log
work/hwtst/upduino2/iCEcube2_flow/mytop_prim.v
work/hwtst/upduino2/iCEcube2_flow/stdout.log
work/hwtst/upduino2/iCEcube2_flow/stdout.log.bak
work/hwtst/upduino2/iCEcube2_flow/synlog.tcl
work/hwtst/upduino2/iCEcube2_flow/xxx_lse_cp_file_list
work/hwtst/upduino2/iCEcube2_flow/xxx_lse_sign_file
work/hwtst/upduino2/ice40loaderprog.hv

work/hwtst/max_upduino2/.sconsign.dblite
work/hwtst/max_upduino2/hardware.asc
work/hwtst/max_upduino2/hardware.bin
work/hwtst/max_upduino2/hardware.blif
work/hwtst/max_upduino2/ice40loaderprog.hv
work/hwtst/max_upduino2/iCEcube2_flow/*

work/hwtst/max_iceblink40-hx1k/.sconsign.dblite
work/hwtst/max_iceblink40-hx1k/hardware.asc
work/hwtst/max_iceblink40-hx1k/hardware.bin
work/hwtst/max_iceblink40-hx1k/hardware.blif
work/hwtst/max_iceblink40-hx1k/ice40loaderprog.hv
work/hwtst/max_iceblink40-hx1k/iCEcube2_flow/*

work/hwtst/for_size_estimate/ice40loaderprog.hv
work/hwtst/for_size_estimate/t1/*
