# ##############################################################################
# Based on:
# iCEcube PCF
# ##############################################################################

#
# IO 
#
set_io led_blue    39
set_io led_green   40
set_io led_red     41
set_io usartTX     14
set_io usartRX     15
set_io SPI_SSn     16
# set_io padantennae 12

#  #
#  # Buffer of FM transmit close to antennaebuf
#  #
#  ble_pack T_12_3_lc_0 {i_fm_xmit.i_antennaebuf,i_fm_xmit.r_antennaebuf}
#  clb_pack T_12_3 {T_12_3_lc_0}
#  set_location T_12_3 12 3


#
# Use some FFs in IO. Presently disabled
#
# set_io_ff led[0] -out ON
# set_io_ff led[1] -out ON
# set_io_ff led[2] -out ON
# set_io_ff padDB[0] -in ON
# set_io_ff padDB[2] -out ON
# set_io_ff padDB[3] -out ON
# set_io_ff padDB[4] -out ON
# set_io_ff padDB[5] -out ON
# set_io_ff padDB[6] -out ON
# set_io_ff padDB[7] -out ON


#
# These are input mux LUTs, goes to INSTRUCTION ff and cascaded to luta of alu.v
#
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_0..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_1..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_2..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_3..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_4..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_5..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_6..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_7..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_8..cmb  
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_9..cmb  
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_10..cmb 
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_11..cmb 
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_12..cmb 
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_13..cmb 
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_14..cmb 
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_15..cmb 
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_16..cmb 
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_17..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_18..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_19..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_20..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_21..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_22..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_23..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_24..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_25..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_26..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_27..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_28..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_29..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_30..cmb
set_cascading inst_midgetv_core.inst_inputmux.genblk1.genblk1_31..cmb

set_cascading inst_midgetv_core.inst_progressctrl.blka_l_cmb_bsel0
set_cascading inst_midgetv_core.inst_progressctrl.blka_l_cmb_bsel1
set_cascading inst_midgetv_core.inst_progressctrl.blka_l_cmb_bsel2
set_cascading inst_midgetv_core.inst_progressctrl.blka_l_cmb_bsel3
