set_location STB_O_I_0_2_lut 16 17 3 # SB_LUT4 (LogicCell: STB_O_I_0_2_lut_LC_0)
set_location i11_4_lut 16 17 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_inputmux.genblk1_ireg__i1_LC_1)
set_location inst_midgetv_core.inst_inputmux.genblk1_ireg__i1 16 17 6 # SB_DFF (LogicCell: inst_midgetv_core.inst_inputmux.genblk1_ireg__i1_LC_1)
set_location i1538_2_lut_3_lut 17 19 7 # SB_LUT4 (LogicCell: i1538_2_lut_3_lut_LC_2)
set_location i2321_4_lut 17 19 5 # SB_LUT4 (LogicCell: i_LEDs.bluesource_is_uart_25_LC_3)
set_location i_LEDs.bluesource_is_uart_25 17 19 5 # SB_DFF (LogicCell: i_LEDs.bluesource_is_uart_25_LC_3)
set_location i_BBUART.STB_I_I_0_2_lut_3_lut 17 20 2 # SB_LUT4 (LogicCell: i_BBUART.STB_I_I_0_2_lut_3_lut_LC_4)
set_location i_LEDs.i1541_3_lut 17 18 0 # SB_LUT4 (LogicCell: i_LEDs.LED3_26_LC_5)
set_location i_LEDs.LED3_26 17 18 0 # SB_DFFE (LogicCell: i_LEDs.LED3_26_LC_5)
set_location i_LEDs.i1_2_lut 17 19 6 # SB_LUT4 (LogicCell: i_LEDs.i1_2_lut_LC_6)
set_location i_LEDs.i2_3_lut 17 20 4 # SB_LUT4 (LogicCell: i_LEDs.i2_3_lut_LC_7)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_0.l 15 15 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_0.l_LC_8)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_1.l 15 15 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_1.l_LC_9)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_10.l 15 17 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_10.l_LC_10)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_11.l 15 17 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_11.l_LC_11)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_12.l 15 17 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_12.l_LC_12)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_13.l 16 19 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_13.l_LC_13)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_14.l 16 19 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_14.l_LC_14)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_15.l 16 19 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_15.l_LC_15)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_16.l 16 19 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_16.l_LC_16)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_17.l 15 19 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_17.l_LC_17)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_18.l 15 19 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_18.l_LC_18)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_19.l 15 19 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_19.l_LC_19)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_2.l 15 15 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_2.l_LC_20)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_20.l 15 19 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_20.l_LC_21)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_21.l 14 20 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_21.l_LC_22)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_22.l 14 20 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_22.l_LC_23)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_23.l 14 20 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_23.l_LC_24)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_24.l 14 20 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_24.l_LC_25)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_25.l 15 20 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_25.l_LC_26)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_26.l 15 20 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_26.l_LC_27)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_27.l 15 20 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_27.l_LC_28)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_28.l 15 20 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_28.l_LC_29)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_29.l 15 18 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_29.l_LC_30)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_3.l 15 15 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_3.l_LC_31)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_30.l 15 18 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_30.l_LC_32)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_31.l 15 18 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_31.l_LC_33)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_4.l 15 16 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_4.l_LC_34)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_5.l 15 16 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_5.l_LC_35)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_6.l 15 16 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_6.l_LC_36)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_7.l 15 18 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_7.l_LC_37)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_8.l 15 16 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_8.l_LC_38)
set_location inst_midgetv_core.inst_alu.genblk1_inst.a_9.l 15 17 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.a_9.l_LC_39)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_0.l 13 17 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_0.l_LC_40)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_0.y 13 17 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_0.l_LC_40)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_1.l 13 17 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_1.l_LC_41)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_1.y 13 17 3 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_1.l_LC_41)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_10.l 13 18 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_10.l_LC_42)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_10.y 13 18 5 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_10.l_LC_42)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_11.l 13 18 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_11.l_LC_43)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_11.y 13 18 6 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_11.l_LC_43)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_12.l 13 18 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_12.l_LC_44)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_12.y 13 18 7 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_12.l_LC_44)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_13.l 13 19 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_13.l_LC_45)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_13.y 13 19 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_13.l_LC_45)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_14.l 13 19 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_14.l_LC_46)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_14.y 13 19 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_14.l_LC_46)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_15.l 13 19 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_15.l_LC_47)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_15.y 13 19 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_15.l_LC_47)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_16.l 13 19 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_16.l_LC_48)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_16.y 13 19 3 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_16.l_LC_48)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_17.l 13 19 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_17.l_LC_49)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_17.y 13 19 4 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_17.l_LC_49)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_18.l 13 19 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_18.l_LC_50)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_18.y 13 19 5 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_18.l_LC_50)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_19.l 13 19 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_19.l_LC_51)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_19.y 13 19 6 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_19.l_LC_51)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_2.l 13 17 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_2.l_LC_52)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_2.y 13 17 4 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_2.l_LC_52)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_20.l 13 19 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_20.l_LC_53)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_20.y 13 19 7 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_20.l_LC_53)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_21.l 13 20 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_21.l_LC_54)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_21.y 13 20 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_21.l_LC_54)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_22.l 13 20 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_22.l_LC_55)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_22.y 13 20 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_22.l_LC_55)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_23.l 13 20 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_23.l_LC_56)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_23.y 13 20 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_23.l_LC_56)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_24.l 13 20 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_24.l_LC_57)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_24.y 13 20 3 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_24.l_LC_57)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_25.l 13 20 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_25.l_LC_58)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_25.y 13 20 4 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_25.l_LC_58)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_26.l 13 20 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_26.l_LC_59)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_26.y 13 20 5 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_26.l_LC_59)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_27.l 13 20 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_27.l_LC_60)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_27.y 13 20 6 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_27.l_LC_60)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_28.l 13 20 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_28.l_LC_61)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_28.y 13 20 7 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_28.l_LC_61)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_29.l 13 21 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_29.l_LC_62)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_29.y 13 21 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_29.l_LC_62)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_3.l 13 17 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_3.l_LC_63)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_3.y 13 17 5 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_3.l_LC_63)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_30.l 13 21 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_30.l_LC_64)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_30.y 13 21 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_30.l_LC_64)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_31.l 13 21 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_31.l_LC_65)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_31.y 13 21 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_31.l_LC_65)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_4.l 13 17 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_4.l_LC_66)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_4.y 13 17 6 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_4.l_LC_66)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_5.l 13 18 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_5.l_LC_67)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_5.y 13 18 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_5.l_LC_67)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_6.l 13 18 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_6.l_LC_68)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_6.y 13 18 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_6.l_LC_68)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_7.l 13 18 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_7.l_LC_69)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_7.y 13 18 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_7.l_LC_69)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_8.l 13 18 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_8.l_LC_70)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_8.y 13 18 3 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_8.l_LC_70)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_9.l 13 18 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_9.l_LC_71)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_9.y 13 18 4 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu.genblk1_inst.b_9.l_LC_71)
set_location inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_la.l 13 17 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu_carryin.genblk1.genblk1.reglastshift_LC_72)
set_location inst_midgetv_core.inst_alu_carryin.genblk1.genblk1.reglastshift 13 17 1 # SB_DFF (LogicCell: inst_midgetv_core.inst_alu_carryin.genblk1.genblk1.reglastshift_LC_72)
set_location inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_la.y 13 17 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu_carryin.genblk1.genblk1.reglastshift_LC_72)
set_location inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_lb.l 13 17 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_lb.l_LC_73)
set_location inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_lb.y 13 17 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_lb.l_LC_73)
set_location inst_midgetv_core.inst_condcode.INSTR_14__I_0_32_i7_4_lut 16 17 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_condcode.INSTR_14__I_0_32_i7_4_lut_LC_74)
set_location inst_midgetv_core.inst_condcode.INSTR_14__I_0_i2_3_lut_4_lut 13 21 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_condcode.INSTR_14__I_0_i2_3_lut_4_lut_LC_75)
set_location inst_midgetv_core.inst_condcode.INSTR_14__I_0_i6_3_lut_4_lut 13 21 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_condcode.INSTR_14__I_0_i6_3_lut_4_lut_LC_76)
set_location inst_midgetv_core.inst_condcode.INSTR_14__I_0_i7_4_lut 13 21 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_condcode.genblk1.tmp_raluF_31_LC_77)
set_location inst_midgetv_core.inst_condcode.genblk1.tmp_raluF_31 13 21 5 # SB_DFF (LogicCell: inst_midgetv_core.inst_condcode.genblk1.tmp_raluF_31_LC_77)
set_location inst_midgetv_core.inst_condcode.i3953_3_lut 16 17 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_condcode.i3953_3_lut_LC_78)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_0.l 13 15 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_0.l_LC_79)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_1.l 13 15 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_1.l_LC_80)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_2.l 13 15 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_2.l_LC_81)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_3.l 14 14 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_3.l_LC_82)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_4.l 13 15 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_4.l_LC_83)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_genblk1_c_qq_10_0.l 14 14 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_genblk1_c_qq_10_0.l_LC_84)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_genblk1_c_qq_10_1.l 14 14 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_genblk1_c_qq_10_1.l_LC_85)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_buserror.l 13 14 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_buserror_LC_86)
set_location inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_buserror 13 14 6 # SB_DFF (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_buserror_LC_86)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_buserror.y 13 14 6 # SB_CARRY (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_buserror_LC_86)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt6.l 13 14 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_6_LC_87)
set_location inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_6 13 14 7 # SB_DFF (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_6_LC_87)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt6.y 13 14 7 # SB_CARRY (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_6_LC_87)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_0.l 13 14 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_1_LC_88)
set_location inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_1 13 14 1 # SB_DFF (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_1_LC_88)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_0.y 13 14 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_1_LC_88)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_1.l 13 14 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_2_LC_89)
set_location inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_2 13 14 2 # SB_DFF (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_2_LC_89)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_1.y 13 14 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_2_LC_89)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_2.l 13 14 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_3_LC_90)
set_location inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_3 13 14 3 # SB_DFF (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_3_LC_90)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_2.y 13 14 3 # SB_CARRY (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_3_LC_90)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_3.l 13 14 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_4_LC_91)
set_location inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_4 13 14 4 # SB_DFF (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_4_LC_91)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_3.y 13 14 4 # SB_CARRY (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_4_LC_91)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_4.l 13 14 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_5_LC_92)
set_location inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_5 13 14 5 # SB_DFF (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_5_LC_92)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_4.y 13 14 5 # SB_CARRY (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_5_LC_92)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccntlsb.l 13 14 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_0_LC_93)
set_location inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_0 13 14 0 # SB_DFF (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_0_LC_93)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccntlsb.y 13 14 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_0_LC_93)
set_location inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_rcrun.l 13 15 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcrun_LC_94)
set_location inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcrun 13 15 0 # SB_DFF (LogicCell: inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcrun_LC_94)
set_location inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrb.we_I_0_2_lut 17 16 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrb.we_I_0_2_lut_LC_95)
set_location inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrh.we_I_0_2_lut 18 18 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrh.we_I_0_2_lut_LC_96)
set_location inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrb.we_I_0_2_lut 18 18 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrb.we_I_0_2_lut_LC_97)
set_location inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrh.we_I_0_2_lut 18 18 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrh.we_I_0_2_lut_LC_98)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1598 13 16 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1598_LC_99)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1599 17 16 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1599_LC_100)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1603 13 16 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1603_LC_101)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1604 13 16 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1604_LC_102)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1605 13 16 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1605_LC_103)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1606 13 16 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1606_LC_104)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1788 17 16 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1788_LC_105)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1789 14 15 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_0..r_LC_106)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_0..r 14 15 0 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_0..r_LC_106)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1789 14 15 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_0..r_LC_106)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1790 17 16 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1790_LC_107)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1791 14 15 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_1..r_LC_108)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_1..r 14 15 1 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_1..r_LC_108)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1791 14 15 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_1..r_LC_108)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1792 17 16 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1792_LC_109)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1793 14 15 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_2..r_LC_110)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_2..r 14 15 2 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_2..r_LC_110)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1793 14 15 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_2..r_LC_110)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1794 17 16 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1794_LC_111)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1795 14 15 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_3..r_LC_112)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_3..r 14 15 3 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_3..r_LC_112)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1795 14 15 3 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_3..r_LC_112)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1796 13 15 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1796_LC_113)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1797 14 15 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_4..r_LC_114)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_4..r 14 15 4 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_4..r_LC_114)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1797 14 15 4 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_4..r_LC_114)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1798 14 15 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_5..r_LC_115)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_5..r 14 15 5 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_5..r_LC_115)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1798 14 15 5 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_5..r_LC_115)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1799 14 15 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_6..r_LC_116)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_6..r 14 15 6 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_6..r_LC_116)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1799 14 15 6 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_6..r_LC_116)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1800 14 15 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_7..r_LC_117)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_7..r 14 15 7 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_7..r_LC_117)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1800 14 15 7 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_7..r_LC_117)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1801 14 16 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_8..r_LC_118)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_8..r 14 16 0 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_8..r_LC_118)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1801 14 16 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_8..r_LC_118)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1802 14 16 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_9..r_LC_119)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_9..r 14 16 1 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_9..r_LC_119)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1802 14 16 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_9..r_LC_119)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1803 14 16 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_10..r_LC_120)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_10..r 14 16 2 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_10..r_LC_120)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1803 14 16 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_10..r_LC_120)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1804 13 16 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1804_LC_121)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1805 13 16 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1805_LC_122)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1806 14 16 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_11..r_LC_123)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_11..r 14 16 3 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_11..r_LC_123)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1806 14 16 3 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_11..r_LC_123)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1808 14 16 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_12..r_LC_124)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_12..r 14 16 4 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_12..r_LC_124)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1808 14 16 4 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_12..r_LC_124)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1810 14 16 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_13..r_LC_125)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_13..r 14 16 5 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_13..r_LC_125)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1810 14 16 5 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_13..r_LC_125)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1811 14 16 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_14..r_LC_126)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_14..r 14 16 6 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_14..r_LC_126)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1811 14 16 6 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_14..r_LC_126)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1812 14 16 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_15..r_LC_127)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_15..r 14 16 7 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_15..r_LC_127)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1812 14 16 7 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_15..r_LC_127)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1813 14 17 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_16..r_LC_128)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_16..r 14 17 0 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_16..r_LC_128)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1813 14 17 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_16..r_LC_128)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1814 14 17 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_17..r_LC_129)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_17..r 14 17 1 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_17..r_LC_129)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1814 14 17 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_17..r_LC_129)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1815 14 17 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_18..r_LC_130)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_18..r 14 17 2 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_18..r_LC_130)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1815 14 17 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_18..r_LC_130)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1816 14 17 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_19..r_LC_131)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_19..r 14 17 3 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_19..r_LC_131)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1816 14 17 3 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_19..r_LC_131)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1818 14 17 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_20..r_LC_132)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_20..r 14 17 4 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_20..r_LC_132)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1818 14 17 4 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_20..r_LC_132)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1819 14 17 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_21..r_LC_133)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_21..r 14 17 5 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_21..r_LC_133)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1819 14 17 5 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_21..r_LC_133)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1820 14 17 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_22..r_LC_134)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_22..r 14 17 6 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_22..r_LC_134)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1820 14 17 6 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_22..r_LC_134)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1821 14 17 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_23..r_LC_135)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_23..r 14 17 7 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_23..r_LC_135)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1821 14 17 7 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_23..r_LC_135)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1822 14 18 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_24..r_LC_136)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_24..r 14 18 0 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_24..r_LC_136)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1822 14 18 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_24..r_LC_136)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1823 14 18 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_25..r_LC_137)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_25..r 14 18 1 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_25..r_LC_137)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1823 14 18 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_25..r_LC_137)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1824 14 18 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_26..r_LC_138)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_26..r 14 18 2 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_26..r_LC_138)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1824 14 18 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_26..r_LC_138)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1825 14 18 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_27..r_LC_139)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_27..r 14 18 3 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_27..r_LC_139)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1825 14 18 3 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_27..r_LC_139)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1826 14 18 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_28..r_LC_140)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_28..r 14 18 4 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_28..r_LC_140)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1826 14 18 4 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_28..r_LC_140)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1827 14 18 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_29..r_LC_141)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_29..r 14 18 5 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_29..r_LC_141)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1827 14 18 5 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_29..r_LC_141)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1828 14 18 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_30..r_LC_142)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_30..r 14 18 6 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_30..r_LC_142)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1828 14 18 6 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_30..r_LC_142)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1829 14 18 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_31..r_LC_143)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_31..r 14 18 7 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_31..r_LC_143)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1829 14 18 7 # SB_CARRY (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_31..r_LC_143)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.cmb_sa14_or_nCORERUNNING 15 14 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.cmb_sa14_or_nCORERUNNING_LC_144)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.cmb_zcy32 14 19 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.rNE0_LC_145)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.rNE0 14 19 0 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.rNE0_LC_145)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.l_sa07 13 16 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.l_sa07_LC_146)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.l_sa09 13 15 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.l_sa09_LC_147)
set_location inst_midgetv_core.inst_immexp_zfind_q.genblk1.l_sa09h 16 14 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_immexp_zfind_q.genblk1.l_sa09h_LC_148)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_0 15 15 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_0_LC_149)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_0 15 15 0 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_0_LC_149)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_1 15 15 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_1_LC_150)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_1 15 15 2 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_1_LC_150)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_10 15 17 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_10_LC_151)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_10 15 17 0 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_10_LC_151)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_11 15 17 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_11_LC_152)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_11 15 17 2 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_11_LC_152)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_12 15 17 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_12_LC_153)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_12 15 17 6 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_12_LC_153)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_13 16 19 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_13_LC_154)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_13 16 19 0 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_13_LC_154)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_14 16 19 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_14_LC_155)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_14 16 19 2 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_14_LC_155)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_15 16 19 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_15_LC_156)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_15 16 19 4 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_15_LC_156)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_16 16 19 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_16_LC_157)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_16 16 19 6 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_16_LC_157)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_17 15 19 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_17_LC_158)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_17 15 19 0 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_17_LC_158)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_18 15 19 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_18_LC_159)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_18 15 19 2 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_18_LC_159)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_19 15 19 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_19_LC_160)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_19 15 19 4 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_19_LC_160)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_2 15 15 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_2_LC_161)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_2 15 15 4 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_2_LC_161)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_20 15 19 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_20_LC_162)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_20 15 19 6 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_20_LC_162)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_21 14 20 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_21_LC_163)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_21 14 20 0 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_21_LC_163)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_22 14 20 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_22_LC_164)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_22 14 20 2 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_22_LC_164)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_23 14 20 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_23_LC_165)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_23 14 20 4 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_23_LC_165)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_24 14 20 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_24_LC_166)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_24 14 20 6 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_24_LC_166)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_25 15 20 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_25_LC_167)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_25 15 20 0 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_25_LC_167)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_26 15 20 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_26_LC_168)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_26 15 20 2 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_26_LC_168)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_27 15 20 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_27_LC_169)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_27 15 20 4 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_27_LC_169)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_28 15 20 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_28_LC_170)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_28 15 20 6 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_28_LC_170)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_29 15 18 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_29_LC_171)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_29 15 18 0 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_29_LC_171)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_3 15 15 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_3_LC_172)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_3 15 15 6 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_3_LC_172)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_30 15 18 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_30_LC_173)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_30 15 18 2 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_30_LC_173)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_31 15 18 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_31_LC_174)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC31_16_31 15 18 4 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC31_16_31_LC_174)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_4 15 16 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_4_LC_175)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_4 15 16 0 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_4_LC_175)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_5 15 16 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_5_LC_176)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_5 15 16 2 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_5_LC_176)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_6 15 16 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_6_LC_177)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_6 15 16 4 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_6_LC_177)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_7 15 18 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_7_LC_178)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_7 15 18 6 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_7_LC_178)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_8 15 16 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_8_LC_179)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_8 15 16 6 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_8_LC_179)
set_location inst_midgetv_core.inst_mimux.genblk1.cmb_9 15 17 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_9_LC_180)
set_location inst_midgetv_core.inst_opreg.genblk1.OpC15_0_9 15 17 4 # SB_DFFE (LogicCell: inst_midgetv_core.inst_opreg.genblk1.OpC15_0_9_LC_180)
set_location inst_midgetv_core.inst_mimux.genblk1.inst_presa00mod 16 16 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_mimux.genblk1.sa00mod_r_LC_181)
set_location inst_midgetv_core.inst_mimux.genblk1.sa00mod_r 16 16 4 # SB_DFF (LogicCell: inst_midgetv_core.inst_mimux.genblk1.sa00mod_r_LC_181)
set_location inst_midgetv_core.inst_progressctrl.badalignment_I_0_70_4_lut 15 14 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.badalignment_I_0_70_4_lut_LC_182)
set_location inst_midgetv_core.inst_progressctrl.blka.l_cmb_asel3 17 17 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.blka.r_asel3_LC_183)
set_location inst_midgetv_core.inst_progressctrl.blka.r_asel3 17 17 7 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_progressctrl.blka.r_asel3_LC_183)
set_location inst_midgetv_core.inst_progressctrl.blka.l_cmb_bsel0 17 17 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.blka.r_bsel0_LC_184)
set_location inst_midgetv_core.inst_progressctrl.blka.r_bsel0 17 17 0 # SB_DFFESS (LogicCell: inst_midgetv_core.inst_progressctrl.blka.r_bsel0_LC_184)
set_location inst_midgetv_core.inst_progressctrl.blka.l_cmb_bsel1 18 15 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.blka.r_bsel1_LC_185)
set_location inst_midgetv_core.inst_progressctrl.blka.r_bsel1 18 15 3 # SB_DFFESS (LogicCell: inst_midgetv_core.inst_progressctrl.blka.r_bsel1_LC_185)
set_location inst_midgetv_core.inst_progressctrl.blka.l_cmb_bsel2 18 16 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.blka.r_bsel2_LC_186)
set_location inst_midgetv_core.inst_progressctrl.blka.r_bsel2 18 16 2 # SB_DFFESS (LogicCell: inst_midgetv_core.inst_progressctrl.blka.r_bsel2_LC_186)
set_location inst_midgetv_core.inst_progressctrl.blka.l_cmb_bsel3 17 17 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.blka.r_bsel3_LC_187)
set_location inst_midgetv_core.inst_progressctrl.blka.r_bsel3 17 17 6 # SB_DFFESS (LogicCell: inst_midgetv_core.inst_progressctrl.blka.r_bsel3_LC_187)
set_location inst_midgetv_core.inst_progressctrl.blka.l_en 17 14 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.blka.l_en_LC_188)
set_location inst_midgetv_core.inst_progressctrl.blka.l_usedefault 18 14 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.blka.l_usedefault_LC_189)
set_location inst_midgetv_core.inst_progressctrl.ctrlreg_we_I_7_2_lut 15 14 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.ctrlreg_we_I_7_2_lut_LC_190)
set_location inst_midgetv_core.inst_progressctrl.genblk4.next_WE_O_I_0_3_lut 14 21 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.genblk4.rWE_O_66_LC_191)
set_location inst_midgetv_core.inst_progressctrl.genblk4.rWE_O_66 14 21 1 # SB_DFFESR (LogicCell: inst_midgetv_core.inst_progressctrl.genblk4.rWE_O_66_LC_191)
set_location inst_midgetv_core.inst_progressctrl.genblk6.l_iwe 17 17 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.genblk6.l_iwe_LC_192)
set_location inst_midgetv_core.inst_progressctrl.i1_2_lut 17 13 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.i1_2_lut_LC_193)
set_location inst_midgetv_core.inst_progressctrl.i1_2_lut_3_lut 16 21 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.i1_2_lut_3_lut_LC_194)
set_location inst_midgetv_core.inst_progressctrl.i1_3_lut 15 14 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.i1_3_lut_LC_195)
set_location inst_midgetv_core.inst_progressctrl.i1_4_lut 17 14 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.i1_4_lut_LC_196)
set_location inst_midgetv_core.inst_progressctrl.next_STB_O_I_13_4_lut 17 21 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.genblk3.rSTB_O_64_LC_197)
set_location inst_midgetv_core.inst_progressctrl.genblk3.rSTB_O_64 17 21 2 # SB_DFFSR (LogicCell: inst_midgetv_core.inst_progressctrl.genblk3.rSTB_O_64_LC_197)
set_location inst_midgetv_core.inst_progressctrl.next_sram_stb_I_16_3_lut_4_lut 17 21 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.genblk3.rsram_stb_65_LC_198)
set_location inst_midgetv_core.inst_progressctrl.genblk3.rsram_stb_65 17 21 3 # SB_DFFSR (LogicCell: inst_midgetv_core.inst_progressctrl.genblk3.rsram_stb_65_LC_198)
set_location inst_midgetv_core.inst_progressctrl.progress_ucode_I_0_4_lut 17 13 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_progressctrl.progress_ucode_I_0_4_lut_LC_199)
set_location inst_midgetv_core.inst_rai.genblk1.L_Rai0 18 28 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_Rai0_LC_200)
set_location inst_midgetv_core.inst_rai.genblk1.L_Rai1 18 28 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_Rai1_LC_201)
set_location inst_midgetv_core.inst_rai.genblk1.L_Rai2 18 29 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_Rai2_LC_202)
set_location inst_midgetv_core.inst_rai.genblk1.L_Rai3 18 28 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_Rai3_LC_203)
set_location inst_midgetv_core.inst_rai.genblk1.L_Rai4 18 28 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_Rai4_LC_204)
set_location inst_midgetv_core.inst_rai.genblk1.L_Rai5 18 28 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_Rai5_LC_205)
set_location inst_midgetv_core.inst_rai.genblk1.L_Rai6 20 28 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_Rai6_LC_206)
set_location inst_midgetv_core.inst_rai.genblk1.L_Rai7 20 30 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_Rai7_LC_207)
set_location inst_midgetv_core.inst_rai.genblk1.L_b0a 18 27 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_b0a_LC_208)
set_location inst_midgetv_core.inst_rai.genblk1.L_b1a 18 27 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_b1a_LC_209)
set_location inst_midgetv_core.inst_rai.genblk1.L_b2a 18 29 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_b2a_LC_210)
set_location inst_midgetv_core.inst_rai.genblk1.L_b3a 18 27 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_b3a_LC_211)
set_location inst_midgetv_core.inst_rai.genblk1.L_b4a 18 27 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_b4a_LC_212)
set_location inst_midgetv_core.inst_rai.genblk1.L_sel0h 18 19 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_sel0h_LC_213)
set_location inst_midgetv_core.inst_rai.genblk1.L_sel0hack 18 19 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_sel0hack_LC_214)
set_location inst_midgetv_core.inst_rai.genblk1.L_sel_0 18 19 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_sel_0_LC_215)
set_location inst_midgetv_core.inst_rai.genblk1.L_sel_3 18 19 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_sel_3_LC_216)
set_location inst_midgetv_core.inst_rai.genblk1.L_ss0 18 27 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_ss0_LC_217)
set_location inst_midgetv_core.inst_rai.genblk1.L_ss1 18 27 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.L_ss1_LC_218)
set_location inst_midgetv_core.inst_rai.genblk1.genblk1.L_Rai8 18 30 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.genblk1.L_Rai8_LC_219)
set_location inst_midgetv_core.inst_rai.genblk1.genblk1.genblk1.L_Rai9 18 30 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_rai.genblk1.genblk1.genblk1.L_Rai9_LC_220)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d21_0.l 18 17 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d21_0.l_LC_221)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt0.y 18 17 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d21_0.l_LC_221)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d21_1.l 18 18 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d21_1.l_LC_222)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d43_0.l 18 17 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d43_0.l_LC_223)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d43_1.l 18 17 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d43_1.l_LC_224)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_lastshift.l 18 17 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1_cmb_lastshift.l_LC_225)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt0.l 18 18 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_0_LC_226)
set_location inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_0 18 18 6 # SB_DFF (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_0_LC_226)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_0.l 18 17 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_1_LC_227)
set_location inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_1 18 17 1 # SB_DFF (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_1_LC_227)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_0.y 18 17 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_1_LC_227)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_1.l 18 17 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_2_LC_228)
set_location inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_2 18 17 2 # SB_DFF (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_2_LC_228)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_1.y 18 17 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_2_LC_228)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_2.l 18 17 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_3_LC_229)
set_location inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_3 18 17 3 # SB_DFF (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_3_LC_229)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_2.y 18 17 3 # SB_CARRY (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_3_LC_229)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_3.l 18 17 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_4_LC_230)
set_location inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_4 18 17 4 # SB_DFF (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_4_LC_230)
set_location inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_3.y 18 17 4 # SB_CARRY (LogicCell: inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_4_LC_230)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d08 17 14 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d08_LC_231)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d09 18 14 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d09_LC_232)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d10 18 14 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d10_LC_233)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d14 18 13 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d14_LC_234)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d15 17 13 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d15_LC_235)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d21 18 14 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d21_LC_236)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d31 17 13 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d31_LC_237)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d32 18 13 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d32_LC_238)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d33 18 13 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d33_LC_239)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d34 17 13 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d34_LC_240)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d35 18 14 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d35_LC_241)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d38 18 13 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d38_LC_242)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.leq0100.l 15 13 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.leq0100.l_LC_243)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.leq1x110100.l 14 14 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.reg_d18_LC_244)
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.reg_d18 14 14 1 # SB_DFFE (LogicCell: inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.reg_d18_LC_244)
set_location inst_midgetv_core.inst_ucodepc.i1_3_lut 16 14 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.i1_3_lut_LC_245)
set_location inst_midgetv_core.inst_ucodepc.i1_4_lut 14 13 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.i1_4_lut_LC_246)
set_location inst_midgetv_core.inst_ucodepc.i255_4_lut 16 14 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.i255_4_lut_LC_247)
set_location inst_midgetv_core.inst_ucodepc.i29_3_lut 16 14 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.i29_3_lut_LC_248)
set_location inst_midgetv_core.inst_ucodepc.i35_3_lut 13 13 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.i35_3_lut_LC_249)
set_location inst_midgetv_core.inst_ucodepc.i3947_4_lut 13 13 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.i3947_4_lut_LC_250)
set_location inst_midgetv_core.inst_ucodepc.i3950_4_lut 16 14 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.i3950_4_lut_LC_251)
set_location inst_midgetv_core.inst_ucodepc.i3956_4_lut 16 15 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.i3956_4_lut_LC_252)
set_location inst_midgetv_core.inst_ucodepc.i3958_2_lut 14 13 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.i3958_2_lut_LC_253)
set_location inst_midgetv_core.inst_ucodepc.i3962_4_lut 13 13 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.i3962_4_lut_LC_254)
set_location inst_midgetv_core.inst_ucodepc.i3968_4_lut 17 13 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.i3968_4_lut_LC_255)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i1545_4_lut 16 15 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i1545_4_lut_LC_256)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_2_lut 16 16 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_2_lut_LC_257)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut 16 16 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_LC_258)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_adj_49 16 15 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_adj_49_LC_259)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_adj_51 15 14 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_adj_51_LC_260)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i256_4_lut 16 16 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i256_4_lut_LC_261)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i2_4_lut 16 15 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i2_4_lut_LC_262)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i2_4_lut_adj_50 16 15 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i2_4_lut_adj_50_LC_263)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i3967_4_lut 16 16 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i3967_4_lut_LC_264)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i3_4_lut 16 16 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i3_4_lut_LC_265)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i4_4_lut 16 16 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i4_4_lut_LC_266)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i5_4_lut 16 18 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i5_4_lut_LC_267)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i6_4_lut 16 18 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i6_4_lut_LC_268)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i7_4_lut 16 18 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i7_4_lut_LC_269)
set_location inst_midgetv_core.inst_ucodepc.inst_illegalop.i9_4_lut 16 17 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.inst_illegalop.i9_4_lut_LC_270)
set_location inst_midgetv_core.inst_ucodepc.rinx_1__I_0_4_lut 16 13 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.rinx_1__I_0_4_lut_LC_271)
set_location inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i1_4_lut 15 13 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i1_4_lut_LC_272)
set_location inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i2_4_lut 16 13 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i2_4_lut_LC_273)
set_location inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i3_4_lut 15 13 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i3_4_lut_LC_274)
set_location inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i4_4_lut 16 13 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i4_4_lut_LC_275)
set_location inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i5_4_lut 16 13 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i5_4_lut_LC_276)
set_location inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i6_4_lut 16 13 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i6_4_lut_LC_277)
set_location inst_midgetv_core.inst_ucodepc.sa32_I_0_2_lut 18 13 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.sa32_I_0_2_lut_LC_278)
set_location inst_midgetv_core.inst_ucodepc.usedinx_or_RST_I_notcorerunning_I_0_2_lut 16 13 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_ucodepc.usedinx_or_RST_I_notcorerunning_I_0_2_lut_LC_279)
set_location inst_midgetv_core.inst_wai.genblk1.L_2318 17 15 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2318_LC_280)
set_location inst_midgetv_core.inst_wai.genblk1.L_2319 17 15 0 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2319_LC_281)
set_location inst_midgetv_core.inst_wai.genblk1.CY_2319 17 15 0 # SB_CARRY (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2319_LC_281)
set_location inst_midgetv_core.inst_wai.genblk1.L_2320 18 14 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2320_LC_282)
set_location inst_midgetv_core.inst_wai.genblk1.L_2321 17 15 1 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2321_LC_283)
set_location inst_midgetv_core.inst_wai.genblk1.CY_2321 17 15 1 # SB_CARRY (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2321_LC_283)
set_location inst_midgetv_core.inst_wai.genblk1.L_2322 17 15 2 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2322_LC_284)
set_location inst_midgetv_core.inst_wai.genblk1.CY_2322 17 15 2 # SB_CARRY (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2322_LC_284)
set_location inst_midgetv_core.inst_wai.genblk1.L_2323 17 15 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2323_LC_285)
set_location inst_midgetv_core.inst_wai.genblk1.CY_2323 17 15 3 # SB_CARRY (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2323_LC_285)
set_location inst_midgetv_core.inst_wai.genblk1.L_2324 17 15 4 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2324_LC_286)
set_location inst_midgetv_core.inst_wai.genblk1.CY_2324 17 15 4 # SB_CARRY (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2324_LC_286)
set_location inst_midgetv_core.inst_wai.genblk1.L_2325 17 15 5 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2325_LC_287)
set_location inst_midgetv_core.inst_wai.genblk1.L_2326 18 19 7 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2326_LC_288)
set_location inst_midgetv_core.inst_wai.genblk1.L_2327 14 21 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.L_2327_LC_289)
set_location inst_midgetv_core.inst_wai.genblk1.genblk1.L_93 12 17 6 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.genblk1.L_93_LC_290)
set_location inst_midgetv_core.inst_wai.genblk1.genblk1.genblk1.L_95 17 19 3 # SB_LUT4 (LogicCell: inst_midgetv_core.inst_wai.genblk1.genblk1.genblk1.L_95_LC_291)
set_location led_ACK_O_I_0_2_lut 17 20 0 # SB_LUT4 (LogicCell: led_ACK_O_I_0_2_lut_LC_292)
set_location inst_midgetv_core.alu_carryout_THRU_LUT4_0 13 21 3 # SB_LUT4 (LogicCell: inst_midgetv_core.alu_carryout_THRU_LUT4_0_LC_293)
set_io CLK_pad 12 31 1 # ICE_GB_IO
set_location GND -1 -1 -1 # GND
set_io LED1_pad 18 31 0 # ICE_IO
set_io LED2_pad 18 31 1 # ICE_IO
set_io LED3_pad 19 31 1 # ICE_IO
set_io LED4_pad 19 31 0 # ICE_IO
set_io RX_pad 13 0 1 # ICE_IO
set_io TX_pad 15 0 0 # ICE_IO
set_location inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrb.genblk1_ebrb.genblk1.mem 19 15 0 # SB_RAM40_4K
set_location inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrb.genblk1_ebrh.genblk1.mem 19 17 0 # SB_RAM40_4K
set_location inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrh.genblk1_ebrb.genblk1.mem 19 19 0 # SB_RAM40_4K
set_location inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrh.genblk1_ebrh.genblk1.mem 19 21 0 # SB_RAM40_4K
set_location inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrb.genblk1_ebrb.genblk1.mem 19 23 0 # SB_RAM40_4K
set_location inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrb.genblk1_ebrh.genblk1.mem 19 25 0 # SB_RAM40_4K
set_location inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrh.genblk1_ebrb.genblk1.mem 19 27 0 # SB_RAM40_4K
set_location inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrh.genblk1_ebrh.genblk1.mem 19 29 0 # SB_RAM40_4K
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.ucode0 19 11 0 # SB_RAM40_4K
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.ucode1 19 13 0 # SB_RAM40_4K
set_location CONSTANT_ONE_LUT4 16 21 5 # SB_LUT4 (LogicCell: LC_294)
set_location CONSTANT_ZERO_LUT4 18 12 0 # SB_LUT4 (LogicCell: LC_295)
set_location inst_midgetv_core.inst_alu.genblk1_inst.b_4.y_THRU_CRY_0 13 17 7 # SB_CARRY (LogicCell: LC_296)
