ble_pack inst_midgetv_core.inst_wai.genblk1_genblk1_L_93_LC_12_17_6 { inst_midgetv_core.inst_wai.genblk1.genblk1.L_93 }
clb_pack LT_12_17 { inst_midgetv_core.inst_wai.genblk1_genblk1_L_93_LC_12_17_6 }
set_location LT_12_17 12 17
ble_pack inst_midgetv_core.inst_ucodepc.i3947_4_lut_LC_13_13_0 { inst_midgetv_core.inst_ucodepc.i3947_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.i35_3_lut_LC_13_13_1 { inst_midgetv_core.inst_ucodepc.i35_3_lut }
ble_pack inst_midgetv_core.inst_ucodepc.i3962_4_lut_LC_13_13_2 { inst_midgetv_core.inst_ucodepc.i3962_4_lut }
clb_pack LT_13_13 { inst_midgetv_core.inst_ucodepc.i3947_4_lut_LC_13_13_0, inst_midgetv_core.inst_ucodepc.i35_3_lut_LC_13_13_1, inst_midgetv_core.inst_ucodepc.i3962_4_lut_LC_13_13_2 }
set_location LT_13_13 13 13
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_0_LC_13_14_0 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccntlsb.l, inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_0, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccntlsb.y }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_1_LC_13_14_1 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_0.l, inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_1, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_0.y }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_2_LC_13_14_2 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_1.l, inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_2, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_1.y }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_3_LC_13_14_3 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_2.l, inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_3, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_2.y }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_4_LC_13_14_4 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_3.l, inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_4, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_3.y }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_5_LC_13_14_5 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_4.l, inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_5, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt_4.y }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_buserror_LC_13_14_6 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_buserror.l, inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_buserror, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_buserror.y }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_6_LC_13_14_7 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt6.l, inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcntlsb_6, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_ccnt6.y }
clb_pack LT_13_14 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_0_LC_13_14_0, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_1_LC_13_14_1, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_2_LC_13_14_2, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_3_LC_13_14_3, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_4_LC_13_14_4, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_5_LC_13_14_5, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_buserror_LC_13_14_6, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcntlsb_6_LC_13_14_7 }
set_location LT_13_14 13 14
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcrun_LC_13_15_0 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_l_rcrun.l, inst_midgetv_core.inst_cyclecnt.genblk1.genblk1.r_rcrun }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_4.l_LC_13_15_1 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_4.l }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_1.l_LC_13_15_2 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_1.l }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_0.l_LC_13_15_3 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_0.l }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1796_LC_13_15_4 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1796 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_l_sa09_LC_13_15_5 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.l_sa09 }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_2.l_LC_13_15_7 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_2.l }
clb_pack LT_13_15 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_r_rcrun_LC_13_15_0, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_4.l_LC_13_15_1, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_1.l_LC_13_15_2, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_0.l_LC_13_15_3, inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1796_LC_13_15_4, inst_midgetv_core.inst_immexp_zfind_q.genblk1_l_sa09_LC_13_15_5, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_2.l_LC_13_15_7 }
set_location LT_13_15 13 15
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1605_LC_13_16_0 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1605 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_l_sa07_LC_13_16_1 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.l_sa07 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1804_LC_13_16_2 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1804 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1598_LC_13_16_3 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1598 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1603_LC_13_16_4 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1603 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1606_LC_13_16_5 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1606 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1604_LC_13_16_6 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1604 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1805_LC_13_16_7 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1805 }
clb_pack LT_13_16 { inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1605_LC_13_16_0, inst_midgetv_core.inst_immexp_zfind_q.genblk1_l_sa07_LC_13_16_1, inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1804_LC_13_16_2, inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1598_LC_13_16_3, inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1603_LC_13_16_4, inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1606_LC_13_16_5, inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1604_LC_13_16_6, inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1805_LC_13_16_7 }
set_location LT_13_16 13 16
ble_pack inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_lb.l_LC_13_17_0 { inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_lb.l, inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_lb.y }
ble_pack inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_reglastshift_LC_13_17_1 { inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_la.l, inst_midgetv_core.inst_alu_carryin.genblk1.genblk1.reglastshift, inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_la.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_0.l_LC_13_17_2 { inst_midgetv_core.inst_alu.genblk1_inst.b_0.l, inst_midgetv_core.inst_alu.genblk1_inst.b_0.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_1.l_LC_13_17_3 { inst_midgetv_core.inst_alu.genblk1_inst.b_1.l, inst_midgetv_core.inst_alu.genblk1_inst.b_1.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_2.l_LC_13_17_4 { inst_midgetv_core.inst_alu.genblk1_inst.b_2.l, inst_midgetv_core.inst_alu.genblk1_inst.b_2.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_3.l_LC_13_17_5 { inst_midgetv_core.inst_alu.genblk1_inst.b_3.l, inst_midgetv_core.inst_alu.genblk1_inst.b_3.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_4.l_LC_13_17_6 { inst_midgetv_core.inst_alu.genblk1_inst.b_4.l, inst_midgetv_core.inst_alu.genblk1_inst.b_4.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_4.y_THRU_CRY_0_LC_13_17_7 { inst_midgetv_core.inst_alu.genblk1_inst.b_4.y_THRU_CRY_0 }
clb_pack LT_13_17 { inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_lb.l_LC_13_17_0, inst_midgetv_core.inst_alu_carryin.genblk1_genblk1_reglastshift_LC_13_17_1, inst_midgetv_core.inst_alu.genblk1_inst.b_0.l_LC_13_17_2, inst_midgetv_core.inst_alu.genblk1_inst.b_1.l_LC_13_17_3, inst_midgetv_core.inst_alu.genblk1_inst.b_2.l_LC_13_17_4, inst_midgetv_core.inst_alu.genblk1_inst.b_3.l_LC_13_17_5, inst_midgetv_core.inst_alu.genblk1_inst.b_4.l_LC_13_17_6, inst_midgetv_core.inst_alu.genblk1_inst.b_4.y_THRU_CRY_0_LC_13_17_7 }
set_location LT_13_17 13 17
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_5.l_LC_13_18_0 { inst_midgetv_core.inst_alu.genblk1_inst.b_5.l, inst_midgetv_core.inst_alu.genblk1_inst.b_5.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_6.l_LC_13_18_1 { inst_midgetv_core.inst_alu.genblk1_inst.b_6.l, inst_midgetv_core.inst_alu.genblk1_inst.b_6.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_7.l_LC_13_18_2 { inst_midgetv_core.inst_alu.genblk1_inst.b_7.l, inst_midgetv_core.inst_alu.genblk1_inst.b_7.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_8.l_LC_13_18_3 { inst_midgetv_core.inst_alu.genblk1_inst.b_8.l, inst_midgetv_core.inst_alu.genblk1_inst.b_8.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_9.l_LC_13_18_4 { inst_midgetv_core.inst_alu.genblk1_inst.b_9.l, inst_midgetv_core.inst_alu.genblk1_inst.b_9.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_10.l_LC_13_18_5 { inst_midgetv_core.inst_alu.genblk1_inst.b_10.l, inst_midgetv_core.inst_alu.genblk1_inst.b_10.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_11.l_LC_13_18_6 { inst_midgetv_core.inst_alu.genblk1_inst.b_11.l, inst_midgetv_core.inst_alu.genblk1_inst.b_11.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_12.l_LC_13_18_7 { inst_midgetv_core.inst_alu.genblk1_inst.b_12.l, inst_midgetv_core.inst_alu.genblk1_inst.b_12.y }
clb_pack LT_13_18 { inst_midgetv_core.inst_alu.genblk1_inst.b_5.l_LC_13_18_0, inst_midgetv_core.inst_alu.genblk1_inst.b_6.l_LC_13_18_1, inst_midgetv_core.inst_alu.genblk1_inst.b_7.l_LC_13_18_2, inst_midgetv_core.inst_alu.genblk1_inst.b_8.l_LC_13_18_3, inst_midgetv_core.inst_alu.genblk1_inst.b_9.l_LC_13_18_4, inst_midgetv_core.inst_alu.genblk1_inst.b_10.l_LC_13_18_5, inst_midgetv_core.inst_alu.genblk1_inst.b_11.l_LC_13_18_6, inst_midgetv_core.inst_alu.genblk1_inst.b_12.l_LC_13_18_7 }
set_location LT_13_18 13 18
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_13.l_LC_13_19_0 { inst_midgetv_core.inst_alu.genblk1_inst.b_13.l, inst_midgetv_core.inst_alu.genblk1_inst.b_13.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_14.l_LC_13_19_1 { inst_midgetv_core.inst_alu.genblk1_inst.b_14.l, inst_midgetv_core.inst_alu.genblk1_inst.b_14.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_15.l_LC_13_19_2 { inst_midgetv_core.inst_alu.genblk1_inst.b_15.l, inst_midgetv_core.inst_alu.genblk1_inst.b_15.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_16.l_LC_13_19_3 { inst_midgetv_core.inst_alu.genblk1_inst.b_16.l, inst_midgetv_core.inst_alu.genblk1_inst.b_16.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_17.l_LC_13_19_4 { inst_midgetv_core.inst_alu.genblk1_inst.b_17.l, inst_midgetv_core.inst_alu.genblk1_inst.b_17.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_18.l_LC_13_19_5 { inst_midgetv_core.inst_alu.genblk1_inst.b_18.l, inst_midgetv_core.inst_alu.genblk1_inst.b_18.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_19.l_LC_13_19_6 { inst_midgetv_core.inst_alu.genblk1_inst.b_19.l, inst_midgetv_core.inst_alu.genblk1_inst.b_19.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_20.l_LC_13_19_7 { inst_midgetv_core.inst_alu.genblk1_inst.b_20.l, inst_midgetv_core.inst_alu.genblk1_inst.b_20.y }
clb_pack LT_13_19 { inst_midgetv_core.inst_alu.genblk1_inst.b_13.l_LC_13_19_0, inst_midgetv_core.inst_alu.genblk1_inst.b_14.l_LC_13_19_1, inst_midgetv_core.inst_alu.genblk1_inst.b_15.l_LC_13_19_2, inst_midgetv_core.inst_alu.genblk1_inst.b_16.l_LC_13_19_3, inst_midgetv_core.inst_alu.genblk1_inst.b_17.l_LC_13_19_4, inst_midgetv_core.inst_alu.genblk1_inst.b_18.l_LC_13_19_5, inst_midgetv_core.inst_alu.genblk1_inst.b_19.l_LC_13_19_6, inst_midgetv_core.inst_alu.genblk1_inst.b_20.l_LC_13_19_7 }
set_location LT_13_19 13 19
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_21.l_LC_13_20_0 { inst_midgetv_core.inst_alu.genblk1_inst.b_21.l, inst_midgetv_core.inst_alu.genblk1_inst.b_21.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_22.l_LC_13_20_1 { inst_midgetv_core.inst_alu.genblk1_inst.b_22.l, inst_midgetv_core.inst_alu.genblk1_inst.b_22.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_23.l_LC_13_20_2 { inst_midgetv_core.inst_alu.genblk1_inst.b_23.l, inst_midgetv_core.inst_alu.genblk1_inst.b_23.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_24.l_LC_13_20_3 { inst_midgetv_core.inst_alu.genblk1_inst.b_24.l, inst_midgetv_core.inst_alu.genblk1_inst.b_24.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_25.l_LC_13_20_4 { inst_midgetv_core.inst_alu.genblk1_inst.b_25.l, inst_midgetv_core.inst_alu.genblk1_inst.b_25.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_26.l_LC_13_20_5 { inst_midgetv_core.inst_alu.genblk1_inst.b_26.l, inst_midgetv_core.inst_alu.genblk1_inst.b_26.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_27.l_LC_13_20_6 { inst_midgetv_core.inst_alu.genblk1_inst.b_27.l, inst_midgetv_core.inst_alu.genblk1_inst.b_27.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_28.l_LC_13_20_7 { inst_midgetv_core.inst_alu.genblk1_inst.b_28.l, inst_midgetv_core.inst_alu.genblk1_inst.b_28.y }
clb_pack LT_13_20 { inst_midgetv_core.inst_alu.genblk1_inst.b_21.l_LC_13_20_0, inst_midgetv_core.inst_alu.genblk1_inst.b_22.l_LC_13_20_1, inst_midgetv_core.inst_alu.genblk1_inst.b_23.l_LC_13_20_2, inst_midgetv_core.inst_alu.genblk1_inst.b_24.l_LC_13_20_3, inst_midgetv_core.inst_alu.genblk1_inst.b_25.l_LC_13_20_4, inst_midgetv_core.inst_alu.genblk1_inst.b_26.l_LC_13_20_5, inst_midgetv_core.inst_alu.genblk1_inst.b_27.l_LC_13_20_6, inst_midgetv_core.inst_alu.genblk1_inst.b_28.l_LC_13_20_7 }
set_location LT_13_20 13 20
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_29.l_LC_13_21_0 { inst_midgetv_core.inst_alu.genblk1_inst.b_29.l, inst_midgetv_core.inst_alu.genblk1_inst.b_29.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_30.l_LC_13_21_1 { inst_midgetv_core.inst_alu.genblk1_inst.b_30.l, inst_midgetv_core.inst_alu.genblk1_inst.b_30.y }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.b_31.l_LC_13_21_2 { inst_midgetv_core.inst_alu.genblk1_inst.b_31.l, inst_midgetv_core.inst_alu.genblk1_inst.b_31.y }
ble_pack inst_midgetv_core.alu_carryout_THRU_LUT4_0_LC_13_21_3 { inst_midgetv_core.alu_carryout_THRU_LUT4_0 }
ble_pack inst_midgetv_core.inst_condcode.genblk1_tmp_raluF_31_LC_13_21_5 { inst_midgetv_core.inst_condcode.INSTR_14__I_0_i7_4_lut, inst_midgetv_core.inst_condcode.genblk1.tmp_raluF_31 }
ble_pack inst_midgetv_core.inst_condcode.INSTR_14__I_0_i2_3_lut_4_lut_LC_13_21_6 { inst_midgetv_core.inst_condcode.INSTR_14__I_0_i2_3_lut_4_lut }
ble_pack inst_midgetv_core.inst_condcode.INSTR_14__I_0_i6_3_lut_4_lut_LC_13_21_7 { inst_midgetv_core.inst_condcode.INSTR_14__I_0_i6_3_lut_4_lut }
clb_pack LT_13_21 { inst_midgetv_core.inst_alu.genblk1_inst.b_29.l_LC_13_21_0, inst_midgetv_core.inst_alu.genblk1_inst.b_30.l_LC_13_21_1, inst_midgetv_core.inst_alu.genblk1_inst.b_31.l_LC_13_21_2, inst_midgetv_core.alu_carryout_THRU_LUT4_0_LC_13_21_3, inst_midgetv_core.inst_condcode.genblk1_tmp_raluF_31_LC_13_21_5, inst_midgetv_core.inst_condcode.INSTR_14__I_0_i2_3_lut_4_lut_LC_13_21_6, inst_midgetv_core.inst_condcode.INSTR_14__I_0_i6_3_lut_4_lut_LC_13_21_7 }
set_location LT_13_21 13 21
ble_pack inst_midgetv_core.inst_ucodepc.i3958_2_lut_LC_14_13_0 { inst_midgetv_core.inst_ucodepc.i3958_2_lut }
ble_pack inst_midgetv_core.inst_ucodepc.i1_4_lut_LC_14_13_3 { inst_midgetv_core.inst_ucodepc.i1_4_lut }
clb_pack LT_14_13 { inst_midgetv_core.inst_ucodepc.i3958_2_lut_LC_14_13_0, inst_midgetv_core.inst_ucodepc.i1_4_lut_LC_14_13_3 }
set_location LT_14_13 14 13
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_genblk1_c_qq_10_0.l_LC_14_14_0 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_genblk1_c_qq_10_0.l }
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.reg_d18_LC_14_14_1 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.leq1x110100.l, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.reg_d18 }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_genblk1_c_qq_10_1.l_LC_14_14_2 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_genblk1_c_qq_10_1.l }
ble_pack inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_3.l_LC_14_14_6 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_3.l }
clb_pack LT_14_14 { inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_genblk1_c_qq_10_0.l_LC_14_14_0, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.reg_d18_LC_14_14_1, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_genblk1_c_qq_10_1.l_LC_14_14_2, inst_midgetv_core.inst_cyclecnt.genblk1_genblk1_c_qq_62_3.l_LC_14_14_6 }
set_location LT_14_14 14 14
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_0__r_LC_14_15_0 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1789, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_0..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1789 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_1__r_LC_14_15_1 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1791, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_1..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1791 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_2__r_LC_14_15_2 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1793, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_2..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1793 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_3__r_LC_14_15_3 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1795, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_3..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1795 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_4__r_LC_14_15_4 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1797, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_4..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1797 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_5__r_LC_14_15_5 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1798, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_5..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1798 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_6__r_LC_14_15_6 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1799, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_6..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1799 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_7__r_LC_14_15_7 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1800, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_7..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1800 }
clb_pack LT_14_15 { inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_0__r_LC_14_15_0, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_1__r_LC_14_15_1, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_2__r_LC_14_15_2, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_3__r_LC_14_15_3, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_4__r_LC_14_15_4, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_5__r_LC_14_15_5, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_6__r_LC_14_15_6, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_7__r_LC_14_15_7 }
set_location LT_14_15 14 15
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_8__r_LC_14_16_0 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1801, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_8..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1801 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_9__r_LC_14_16_1 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1802, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_9..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1802 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_10__r_LC_14_16_2 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1803, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_10..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1803 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_11__r_LC_14_16_3 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1806, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_11..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1806 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_12__r_LC_14_16_4 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1808, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_12..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1808 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_13__r_LC_14_16_5 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1810, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_13..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1810 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_14__r_LC_14_16_6 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1811, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_14..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1811 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_15__r_LC_14_16_7 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1812, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_15..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1812 }
clb_pack LT_14_16 { inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_8__r_LC_14_16_0, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_9__r_LC_14_16_1, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_10__r_LC_14_16_2, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_11__r_LC_14_16_3, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_12__r_LC_14_16_4, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_13__r_LC_14_16_5, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_14__r_LC_14_16_6, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_15__r_LC_14_16_7 }
set_location LT_14_16 14 16
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_16__r_LC_14_17_0 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1813, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_16..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1813 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_17__r_LC_14_17_1 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1814, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_17..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1814 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_18__r_LC_14_17_2 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1815, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_18..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1815 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_19__r_LC_14_17_3 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1816, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_19..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1816 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_20__r_LC_14_17_4 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1818, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_20..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1818 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_21__r_LC_14_17_5 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1819, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_21..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1819 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_22__r_LC_14_17_6 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1820, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_22..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1820 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_23__r_LC_14_17_7 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1821, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_23..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1821 }
clb_pack LT_14_17 { inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_16__r_LC_14_17_0, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_17__r_LC_14_17_1, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_18__r_LC_14_17_2, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_19__r_LC_14_17_3, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_20__r_LC_14_17_4, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_21__r_LC_14_17_5, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_22__r_LC_14_17_6, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_23__r_LC_14_17_7 }
set_location LT_14_17 14 17
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_24__r_LC_14_18_0 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1822, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_24..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1822 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_25__r_LC_14_18_1 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1823, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_25..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1823 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_26__r_LC_14_18_2 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1824, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_26..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1824 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_27__r_LC_14_18_3 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1825, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_27..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1825 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_28__r_LC_14_18_4 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1826, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_28..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1826 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_29__r_LC_14_18_5 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1827, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_29..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1827 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_30__r_LC_14_18_6 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1828, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_30..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1828 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_31__r_LC_14_18_7 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1829, inst_midgetv_core.inst_immexp_zfind_q.genblk1.blk0_31..r, inst_midgetv_core.inst_immexp_zfind_q.genblk1.CY_1829 }
clb_pack LT_14_18 { inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_24__r_LC_14_18_0, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_25__r_LC_14_18_1, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_26__r_LC_14_18_2, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_27__r_LC_14_18_3, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_28__r_LC_14_18_4, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_29__r_LC_14_18_5, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_30__r_LC_14_18_6, inst_midgetv_core.inst_immexp_zfind_q.genblk1_blk0_31__r_LC_14_18_7 }
set_location LT_14_18 14 18
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_rNE0_LC_14_19_0 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.cmb_zcy32, inst_midgetv_core.inst_immexp_zfind_q.genblk1.rNE0 }
clb_pack LT_14_19 { inst_midgetv_core.inst_immexp_zfind_q.genblk1_rNE0_LC_14_19_0 }
set_location LT_14_19 14 19
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_21_LC_14_20_0 { inst_midgetv_core.inst_mimux.genblk1.cmb_21, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_21 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_21.l_LC_14_20_1 { inst_midgetv_core.inst_alu.genblk1_inst.a_21.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_22_LC_14_20_2 { inst_midgetv_core.inst_mimux.genblk1.cmb_22, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_22 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_22.l_LC_14_20_3 { inst_midgetv_core.inst_alu.genblk1_inst.a_22.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_23_LC_14_20_4 { inst_midgetv_core.inst_mimux.genblk1.cmb_23, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_23 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_23.l_LC_14_20_5 { inst_midgetv_core.inst_alu.genblk1_inst.a_23.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_24_LC_14_20_6 { inst_midgetv_core.inst_mimux.genblk1.cmb_24, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_24 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_24.l_LC_14_20_7 { inst_midgetv_core.inst_alu.genblk1_inst.a_24.l }
clb_pack LT_14_20 { inst_midgetv_core.inst_opreg.genblk1_OpC31_16_21_LC_14_20_0, inst_midgetv_core.inst_alu.genblk1_inst.a_21.l_LC_14_20_1, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_22_LC_14_20_2, inst_midgetv_core.inst_alu.genblk1_inst.a_22.l_LC_14_20_3, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_23_LC_14_20_4, inst_midgetv_core.inst_alu.genblk1_inst.a_23.l_LC_14_20_5, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_24_LC_14_20_6, inst_midgetv_core.inst_alu.genblk1_inst.a_24.l_LC_14_20_7 }
set_location LT_14_20 14 20
ble_pack inst_midgetv_core.inst_progressctrl.genblk4_rWE_O_66_LC_14_21_1 { inst_midgetv_core.inst_progressctrl.genblk4.next_WE_O_I_0_3_lut, inst_midgetv_core.inst_progressctrl.genblk4.rWE_O_66 }
ble_pack inst_midgetv_core.inst_wai.genblk1_L_2327_LC_14_21_6 { inst_midgetv_core.inst_wai.genblk1.L_2327 }
clb_pack LT_14_21 { inst_midgetv_core.inst_progressctrl.genblk4_rWE_O_66_LC_14_21_1, inst_midgetv_core.inst_wai.genblk1_L_2327_LC_14_21_6 }
set_location LT_14_21 14 21
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.leq0100.l_LC_15_13_0 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.leq0100.l }
ble_pack inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i3_4_lut_LC_15_13_1 { inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i3_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i1_4_lut_LC_15_13_6 { inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i1_4_lut }
clb_pack LT_15_13 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.leq0100.l_LC_15_13_0, inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i3_4_lut_LC_15_13_1, inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i1_4_lut_LC_15_13_6 }
set_location LT_15_13 15 13
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_adj_51_LC_15_14_0 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_adj_51 }
ble_pack inst_midgetv_core.inst_progressctrl.i1_3_lut_LC_15_14_1 { inst_midgetv_core.inst_progressctrl.i1_3_lut }
ble_pack inst_midgetv_core.inst_progressctrl.ctrlreg_we_I_7_2_lut_LC_15_14_2 { inst_midgetv_core.inst_progressctrl.ctrlreg_we_I_7_2_lut }
ble_pack inst_midgetv_core.inst_progressctrl.badalignment_I_0_70_4_lut_LC_15_14_4 { inst_midgetv_core.inst_progressctrl.badalignment_I_0_70_4_lut }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_cmb_sa14_or_nCORERUNNING_LC_15_14_6 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.cmb_sa14_or_nCORERUNNING }
clb_pack LT_15_14 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_adj_51_LC_15_14_0, inst_midgetv_core.inst_progressctrl.i1_3_lut_LC_15_14_1, inst_midgetv_core.inst_progressctrl.ctrlreg_we_I_7_2_lut_LC_15_14_2, inst_midgetv_core.inst_progressctrl.badalignment_I_0_70_4_lut_LC_15_14_4, inst_midgetv_core.inst_immexp_zfind_q.genblk1_cmb_sa14_or_nCORERUNNING_LC_15_14_6 }
set_location LT_15_14 15 14
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_0_LC_15_15_0 { inst_midgetv_core.inst_mimux.genblk1.cmb_0, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_0 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_0.l_LC_15_15_1 { inst_midgetv_core.inst_alu.genblk1_inst.a_0.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_1_LC_15_15_2 { inst_midgetv_core.inst_mimux.genblk1.cmb_1, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_1 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_1.l_LC_15_15_3 { inst_midgetv_core.inst_alu.genblk1_inst.a_1.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_2_LC_15_15_4 { inst_midgetv_core.inst_mimux.genblk1.cmb_2, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_2 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_2.l_LC_15_15_5 { inst_midgetv_core.inst_alu.genblk1_inst.a_2.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_3_LC_15_15_6 { inst_midgetv_core.inst_mimux.genblk1.cmb_3, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_3 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_3.l_LC_15_15_7 { inst_midgetv_core.inst_alu.genblk1_inst.a_3.l }
clb_pack LT_15_15 { inst_midgetv_core.inst_opreg.genblk1_OpC15_0_0_LC_15_15_0, inst_midgetv_core.inst_alu.genblk1_inst.a_0.l_LC_15_15_1, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_1_LC_15_15_2, inst_midgetv_core.inst_alu.genblk1_inst.a_1.l_LC_15_15_3, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_2_LC_15_15_4, inst_midgetv_core.inst_alu.genblk1_inst.a_2.l_LC_15_15_5, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_3_LC_15_15_6, inst_midgetv_core.inst_alu.genblk1_inst.a_3.l_LC_15_15_7 }
set_location LT_15_15 15 15
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_4_LC_15_16_0 { inst_midgetv_core.inst_mimux.genblk1.cmb_4, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_4 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_4.l_LC_15_16_1 { inst_midgetv_core.inst_alu.genblk1_inst.a_4.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_5_LC_15_16_2 { inst_midgetv_core.inst_mimux.genblk1.cmb_5, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_5 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_5.l_LC_15_16_3 { inst_midgetv_core.inst_alu.genblk1_inst.a_5.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_6_LC_15_16_4 { inst_midgetv_core.inst_mimux.genblk1.cmb_6, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_6 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_6.l_LC_15_16_5 { inst_midgetv_core.inst_alu.genblk1_inst.a_6.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_8_LC_15_16_6 { inst_midgetv_core.inst_mimux.genblk1.cmb_8, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_8 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_8.l_LC_15_16_7 { inst_midgetv_core.inst_alu.genblk1_inst.a_8.l }
clb_pack LT_15_16 { inst_midgetv_core.inst_opreg.genblk1_OpC15_0_4_LC_15_16_0, inst_midgetv_core.inst_alu.genblk1_inst.a_4.l_LC_15_16_1, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_5_LC_15_16_2, inst_midgetv_core.inst_alu.genblk1_inst.a_5.l_LC_15_16_3, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_6_LC_15_16_4, inst_midgetv_core.inst_alu.genblk1_inst.a_6.l_LC_15_16_5, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_8_LC_15_16_6, inst_midgetv_core.inst_alu.genblk1_inst.a_8.l_LC_15_16_7 }
set_location LT_15_16 15 16
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_10_LC_15_17_0 { inst_midgetv_core.inst_mimux.genblk1.cmb_10, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_10 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_10.l_LC_15_17_1 { inst_midgetv_core.inst_alu.genblk1_inst.a_10.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_11_LC_15_17_2 { inst_midgetv_core.inst_mimux.genblk1.cmb_11, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_11 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_11.l_LC_15_17_3 { inst_midgetv_core.inst_alu.genblk1_inst.a_11.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_9_LC_15_17_4 { inst_midgetv_core.inst_mimux.genblk1.cmb_9, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_9 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_9.l_LC_15_17_5 { inst_midgetv_core.inst_alu.genblk1_inst.a_9.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_12_LC_15_17_6 { inst_midgetv_core.inst_mimux.genblk1.cmb_12, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_12 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_12.l_LC_15_17_7 { inst_midgetv_core.inst_alu.genblk1_inst.a_12.l }
clb_pack LT_15_17 { inst_midgetv_core.inst_opreg.genblk1_OpC15_0_10_LC_15_17_0, inst_midgetv_core.inst_alu.genblk1_inst.a_10.l_LC_15_17_1, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_11_LC_15_17_2, inst_midgetv_core.inst_alu.genblk1_inst.a_11.l_LC_15_17_3, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_9_LC_15_17_4, inst_midgetv_core.inst_alu.genblk1_inst.a_9.l_LC_15_17_5, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_12_LC_15_17_6, inst_midgetv_core.inst_alu.genblk1_inst.a_12.l_LC_15_17_7 }
set_location LT_15_17 15 17
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_29_LC_15_18_0 { inst_midgetv_core.inst_mimux.genblk1.cmb_29, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_29 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_29.l_LC_15_18_1 { inst_midgetv_core.inst_alu.genblk1_inst.a_29.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_30_LC_15_18_2 { inst_midgetv_core.inst_mimux.genblk1.cmb_30, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_30 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_30.l_LC_15_18_3 { inst_midgetv_core.inst_alu.genblk1_inst.a_30.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_31_LC_15_18_4 { inst_midgetv_core.inst_mimux.genblk1.cmb_31, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_31 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_31.l_LC_15_18_5 { inst_midgetv_core.inst_alu.genblk1_inst.a_31.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_7_LC_15_18_6 { inst_midgetv_core.inst_mimux.genblk1.cmb_7, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_7 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_7.l_LC_15_18_7 { inst_midgetv_core.inst_alu.genblk1_inst.a_7.l }
clb_pack LT_15_18 { inst_midgetv_core.inst_opreg.genblk1_OpC31_16_29_LC_15_18_0, inst_midgetv_core.inst_alu.genblk1_inst.a_29.l_LC_15_18_1, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_30_LC_15_18_2, inst_midgetv_core.inst_alu.genblk1_inst.a_30.l_LC_15_18_3, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_31_LC_15_18_4, inst_midgetv_core.inst_alu.genblk1_inst.a_31.l_LC_15_18_5, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_7_LC_15_18_6, inst_midgetv_core.inst_alu.genblk1_inst.a_7.l_LC_15_18_7 }
set_location LT_15_18 15 18
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_17_LC_15_19_0 { inst_midgetv_core.inst_mimux.genblk1.cmb_17, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_17 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_17.l_LC_15_19_1 { inst_midgetv_core.inst_alu.genblk1_inst.a_17.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_18_LC_15_19_2 { inst_midgetv_core.inst_mimux.genblk1.cmb_18, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_18 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_18.l_LC_15_19_3 { inst_midgetv_core.inst_alu.genblk1_inst.a_18.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_19_LC_15_19_4 { inst_midgetv_core.inst_mimux.genblk1.cmb_19, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_19 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_19.l_LC_15_19_5 { inst_midgetv_core.inst_alu.genblk1_inst.a_19.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_20_LC_15_19_6 { inst_midgetv_core.inst_mimux.genblk1.cmb_20, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_20 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_20.l_LC_15_19_7 { inst_midgetv_core.inst_alu.genblk1_inst.a_20.l }
clb_pack LT_15_19 { inst_midgetv_core.inst_opreg.genblk1_OpC31_16_17_LC_15_19_0, inst_midgetv_core.inst_alu.genblk1_inst.a_17.l_LC_15_19_1, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_18_LC_15_19_2, inst_midgetv_core.inst_alu.genblk1_inst.a_18.l_LC_15_19_3, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_19_LC_15_19_4, inst_midgetv_core.inst_alu.genblk1_inst.a_19.l_LC_15_19_5, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_20_LC_15_19_6, inst_midgetv_core.inst_alu.genblk1_inst.a_20.l_LC_15_19_7 }
set_location LT_15_19 15 19
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_25_LC_15_20_0 { inst_midgetv_core.inst_mimux.genblk1.cmb_25, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_25 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_25.l_LC_15_20_1 { inst_midgetv_core.inst_alu.genblk1_inst.a_25.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_26_LC_15_20_2 { inst_midgetv_core.inst_mimux.genblk1.cmb_26, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_26 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_26.l_LC_15_20_3 { inst_midgetv_core.inst_alu.genblk1_inst.a_26.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_27_LC_15_20_4 { inst_midgetv_core.inst_mimux.genblk1.cmb_27, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_27 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_27.l_LC_15_20_5 { inst_midgetv_core.inst_alu.genblk1_inst.a_27.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_28_LC_15_20_6 { inst_midgetv_core.inst_mimux.genblk1.cmb_28, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_28 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_28.l_LC_15_20_7 { inst_midgetv_core.inst_alu.genblk1_inst.a_28.l }
clb_pack LT_15_20 { inst_midgetv_core.inst_opreg.genblk1_OpC31_16_25_LC_15_20_0, inst_midgetv_core.inst_alu.genblk1_inst.a_25.l_LC_15_20_1, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_26_LC_15_20_2, inst_midgetv_core.inst_alu.genblk1_inst.a_26.l_LC_15_20_3, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_27_LC_15_20_4, inst_midgetv_core.inst_alu.genblk1_inst.a_27.l_LC_15_20_5, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_28_LC_15_20_6, inst_midgetv_core.inst_alu.genblk1_inst.a_28.l_LC_15_20_7 }
set_location LT_15_20 15 20
ble_pack inst_midgetv_core.inst_ucodepc.rinx_1__I_0_4_lut_LC_16_13_0 { inst_midgetv_core.inst_ucodepc.rinx_1__I_0_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i4_4_lut_LC_16_13_1 { inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i4_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.usedinx_or_RST_I_notcorerunning_I_0_2_lut_LC_16_13_2 { inst_midgetv_core.inst_ucodepc.usedinx_or_RST_I_notcorerunning_I_0_2_lut }
ble_pack inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i6_4_lut_LC_16_13_3 { inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i6_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i2_4_lut_LC_16_13_5 { inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i2_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i5_4_lut_LC_16_13_7 { inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i5_4_lut }
clb_pack LT_16_13 { inst_midgetv_core.inst_ucodepc.rinx_1__I_0_4_lut_LC_16_13_0, inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i4_4_lut_LC_16_13_1, inst_midgetv_core.inst_ucodepc.usedinx_or_RST_I_notcorerunning_I_0_2_lut_LC_16_13_2, inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i6_4_lut_LC_16_13_3, inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i2_4_lut_LC_16_13_5, inst_midgetv_core.inst_ucodepc.rinx_7__I_0_i5_4_lut_LC_16_13_7 }
set_location LT_16_13 16 13
ble_pack inst_midgetv_core.inst_ucodepc.i1_3_lut_LC_16_14_0 { inst_midgetv_core.inst_ucodepc.i1_3_lut }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_l_sa09h_LC_16_14_3 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.l_sa09h }
ble_pack inst_midgetv_core.inst_ucodepc.i3950_4_lut_LC_16_14_4 { inst_midgetv_core.inst_ucodepc.i3950_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.i29_3_lut_LC_16_14_5 { inst_midgetv_core.inst_ucodepc.i29_3_lut }
ble_pack inst_midgetv_core.inst_ucodepc.i255_4_lut_LC_16_14_6 { inst_midgetv_core.inst_ucodepc.i255_4_lut }
clb_pack LT_16_14 { inst_midgetv_core.inst_ucodepc.i1_3_lut_LC_16_14_0, inst_midgetv_core.inst_immexp_zfind_q.genblk1_l_sa09h_LC_16_14_3, inst_midgetv_core.inst_ucodepc.i3950_4_lut_LC_16_14_4, inst_midgetv_core.inst_ucodepc.i29_3_lut_LC_16_14_5, inst_midgetv_core.inst_ucodepc.i255_4_lut_LC_16_14_6 }
set_location LT_16_14 16 14
ble_pack inst_midgetv_core.inst_ucodepc.i3956_4_lut_LC_16_15_0 { inst_midgetv_core.inst_ucodepc.i3956_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i1545_4_lut_LC_16_15_2 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i1545_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i2_4_lut_adj_50_LC_16_15_3 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i2_4_lut_adj_50 }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_adj_49_LC_16_15_4 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_adj_49 }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i2_4_lut_LC_16_15_6 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i2_4_lut }
clb_pack LT_16_15 { inst_midgetv_core.inst_ucodepc.i3956_4_lut_LC_16_15_0, inst_midgetv_core.inst_ucodepc.inst_illegalop.i1545_4_lut_LC_16_15_2, inst_midgetv_core.inst_ucodepc.inst_illegalop.i2_4_lut_adj_50_LC_16_15_3, inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_adj_49_LC_16_15_4, inst_midgetv_core.inst_ucodepc.inst_illegalop.i2_4_lut_LC_16_15_6 }
set_location LT_16_15 16 15
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i256_4_lut_LC_16_16_0 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i256_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i3967_4_lut_LC_16_16_1 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i3967_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_LC_16_16_2 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_2_lut_LC_16_16_3 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_2_lut }
ble_pack inst_midgetv_core.inst_mimux.genblk1_sa00mod_r_LC_16_16_4 { inst_midgetv_core.inst_mimux.genblk1.inst_presa00mod, inst_midgetv_core.inst_mimux.genblk1.sa00mod_r }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i4_4_lut_LC_16_16_5 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i4_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i3_4_lut_LC_16_16_7 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i3_4_lut }
clb_pack LT_16_16 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i256_4_lut_LC_16_16_0, inst_midgetv_core.inst_ucodepc.inst_illegalop.i3967_4_lut_LC_16_16_1, inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_4_lut_LC_16_16_2, inst_midgetv_core.inst_ucodepc.inst_illegalop.i1_2_lut_LC_16_16_3, inst_midgetv_core.inst_mimux.genblk1_sa00mod_r_LC_16_16_4, inst_midgetv_core.inst_ucodepc.inst_illegalop.i4_4_lut_LC_16_16_5, inst_midgetv_core.inst_ucodepc.inst_illegalop.i3_4_lut_LC_16_16_7 }
set_location LT_16_16 16 16
ble_pack inst_midgetv_core.inst_condcode.INSTR_14__I_0_32_i7_4_lut_LC_16_17_1 { inst_midgetv_core.inst_condcode.INSTR_14__I_0_32_i7_4_lut }
ble_pack STB_O_I_0_2_lut_LC_16_17_3 { STB_O_I_0_2_lut }
ble_pack inst_midgetv_core.inst_condcode.i3953_3_lut_LC_16_17_4 { inst_midgetv_core.inst_condcode.i3953_3_lut }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i9_4_lut_LC_16_17_5 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i9_4_lut }
ble_pack inst_midgetv_core.inst_inputmux.genblk1_ireg__i1_LC_16_17_6 { i11_4_lut, inst_midgetv_core.inst_inputmux.genblk1_ireg__i1 }
clb_pack LT_16_17 { inst_midgetv_core.inst_condcode.INSTR_14__I_0_32_i7_4_lut_LC_16_17_1, STB_O_I_0_2_lut_LC_16_17_3, inst_midgetv_core.inst_condcode.i3953_3_lut_LC_16_17_4, inst_midgetv_core.inst_ucodepc.inst_illegalop.i9_4_lut_LC_16_17_5, inst_midgetv_core.inst_inputmux.genblk1_ireg__i1_LC_16_17_6 }
set_location LT_16_17 16 17
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i5_4_lut_LC_16_18_1 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i5_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i7_4_lut_LC_16_18_3 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i7_4_lut }
ble_pack inst_midgetv_core.inst_ucodepc.inst_illegalop.i6_4_lut_LC_16_18_4 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i6_4_lut }
clb_pack LT_16_18 { inst_midgetv_core.inst_ucodepc.inst_illegalop.i5_4_lut_LC_16_18_1, inst_midgetv_core.inst_ucodepc.inst_illegalop.i7_4_lut_LC_16_18_3, inst_midgetv_core.inst_ucodepc.inst_illegalop.i6_4_lut_LC_16_18_4 }
set_location LT_16_18 16 18
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_13_LC_16_19_0 { inst_midgetv_core.inst_mimux.genblk1.cmb_13, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_13 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_13.l_LC_16_19_1 { inst_midgetv_core.inst_alu.genblk1_inst.a_13.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_14_LC_16_19_2 { inst_midgetv_core.inst_mimux.genblk1.cmb_14, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_14 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_14.l_LC_16_19_3 { inst_midgetv_core.inst_alu.genblk1_inst.a_14.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC15_0_15_LC_16_19_4 { inst_midgetv_core.inst_mimux.genblk1.cmb_15, inst_midgetv_core.inst_opreg.genblk1.OpC15_0_15 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_15.l_LC_16_19_5 { inst_midgetv_core.inst_alu.genblk1_inst.a_15.l }
ble_pack inst_midgetv_core.inst_opreg.genblk1_OpC31_16_16_LC_16_19_6 { inst_midgetv_core.inst_mimux.genblk1.cmb_16, inst_midgetv_core.inst_opreg.genblk1.OpC31_16_16 }
ble_pack inst_midgetv_core.inst_alu.genblk1_inst.a_16.l_LC_16_19_7 { inst_midgetv_core.inst_alu.genblk1_inst.a_16.l }
clb_pack LT_16_19 { inst_midgetv_core.inst_opreg.genblk1_OpC15_0_13_LC_16_19_0, inst_midgetv_core.inst_alu.genblk1_inst.a_13.l_LC_16_19_1, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_14_LC_16_19_2, inst_midgetv_core.inst_alu.genblk1_inst.a_14.l_LC_16_19_3, inst_midgetv_core.inst_opreg.genblk1_OpC15_0_15_LC_16_19_4, inst_midgetv_core.inst_alu.genblk1_inst.a_15.l_LC_16_19_5, inst_midgetv_core.inst_opreg.genblk1_OpC31_16_16_LC_16_19_6, inst_midgetv_core.inst_alu.genblk1_inst.a_16.l_LC_16_19_7 }
set_location LT_16_19 16 19
ble_pack inst_midgetv_core.inst_progressctrl.i1_2_lut_3_lut_LC_16_21_4 { inst_midgetv_core.inst_progressctrl.i1_2_lut_3_lut }
ble_pack CONSTANT_ONE_LUT4_LC_16_21_5 { CONSTANT_ONE_LUT4 }
clb_pack LT_16_21 { inst_midgetv_core.inst_progressctrl.i1_2_lut_3_lut_LC_16_21_4, CONSTANT_ONE_LUT4_LC_16_21_5 }
set_location LT_16_21 16 21
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d31_LC_17_13_1 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d31 }
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d15_LC_17_13_2 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d15 }
ble_pack inst_midgetv_core.inst_progressctrl.progress_ucode_I_0_4_lut_LC_17_13_3 { inst_midgetv_core.inst_progressctrl.progress_ucode_I_0_4_lut }
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d34_LC_17_13_4 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d34 }
ble_pack inst_midgetv_core.inst_ucodepc.i3968_4_lut_LC_17_13_6 { inst_midgetv_core.inst_ucodepc.i3968_4_lut }
ble_pack inst_midgetv_core.inst_progressctrl.i1_2_lut_LC_17_13_7 { inst_midgetv_core.inst_progressctrl.i1_2_lut }
clb_pack LT_17_13 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d31_LC_17_13_1, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d15_LC_17_13_2, inst_midgetv_core.inst_progressctrl.progress_ucode_I_0_4_lut_LC_17_13_3, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d34_LC_17_13_4, inst_midgetv_core.inst_ucodepc.i3968_4_lut_LC_17_13_6, inst_midgetv_core.inst_progressctrl.i1_2_lut_LC_17_13_7 }
set_location LT_17_13 17 13
ble_pack inst_midgetv_core.inst_progressctrl.blka_l_en_LC_17_14_1 { inst_midgetv_core.inst_progressctrl.blka.l_en }
ble_pack inst_midgetv_core.inst_progressctrl.i1_4_lut_LC_17_14_4 { inst_midgetv_core.inst_progressctrl.i1_4_lut }
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d08_LC_17_14_5 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d08 }
clb_pack LT_17_14 { inst_midgetv_core.inst_progressctrl.blka_l_en_LC_17_14_1, inst_midgetv_core.inst_progressctrl.i1_4_lut_LC_17_14_4, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d08_LC_17_14_5 }
set_location LT_17_14 17 14
ble_pack inst_midgetv_core.inst_wai.genblk1_L_2319_LC_17_15_0 { inst_midgetv_core.inst_wai.genblk1.L_2319, inst_midgetv_core.inst_wai.genblk1.CY_2319 }
ble_pack inst_midgetv_core.inst_wai.genblk1_L_2321_LC_17_15_1 { inst_midgetv_core.inst_wai.genblk1.L_2321, inst_midgetv_core.inst_wai.genblk1.CY_2321 }
ble_pack inst_midgetv_core.inst_wai.genblk1_L_2322_LC_17_15_2 { inst_midgetv_core.inst_wai.genblk1.L_2322, inst_midgetv_core.inst_wai.genblk1.CY_2322 }
ble_pack inst_midgetv_core.inst_wai.genblk1_L_2323_LC_17_15_3 { inst_midgetv_core.inst_wai.genblk1.L_2323, inst_midgetv_core.inst_wai.genblk1.CY_2323 }
ble_pack inst_midgetv_core.inst_wai.genblk1_L_2324_LC_17_15_4 { inst_midgetv_core.inst_wai.genblk1.L_2324, inst_midgetv_core.inst_wai.genblk1.CY_2324 }
ble_pack inst_midgetv_core.inst_wai.genblk1_L_2325_LC_17_15_5 { inst_midgetv_core.inst_wai.genblk1.L_2325 }
ble_pack inst_midgetv_core.inst_wai.genblk1_L_2318_LC_17_15_6 { inst_midgetv_core.inst_wai.genblk1.L_2318 }
clb_pack LT_17_15 { inst_midgetv_core.inst_wai.genblk1_L_2319_LC_17_15_0, inst_midgetv_core.inst_wai.genblk1_L_2321_LC_17_15_1, inst_midgetv_core.inst_wai.genblk1_L_2322_LC_17_15_2, inst_midgetv_core.inst_wai.genblk1_L_2323_LC_17_15_3, inst_midgetv_core.inst_wai.genblk1_L_2324_LC_17_15_4, inst_midgetv_core.inst_wai.genblk1_L_2325_LC_17_15_5, inst_midgetv_core.inst_wai.genblk1_L_2318_LC_17_15_6 }
set_location LT_17_15 17 15
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1788_LC_17_16_0 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1788 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1792_LC_17_16_1 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1792 }
ble_pack inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrb.we_I_0_2_lut_LC_17_16_2 { inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrb.we_I_0_2_lut }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1599_LC_17_16_3 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1599 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1790_LC_17_16_4 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1790 }
ble_pack inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1794_LC_17_16_6 { inst_midgetv_core.inst_immexp_zfind_q.genblk1.L_1794 }
clb_pack LT_17_16 { inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1788_LC_17_16_0, inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1792_LC_17_16_1, inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrb.we_I_0_2_lut_LC_17_16_2, inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1599_LC_17_16_3, inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1790_LC_17_16_4, inst_midgetv_core.inst_immexp_zfind_q.genblk1_L_1794_LC_17_16_6 }
set_location LT_17_16 17 16
ble_pack inst_midgetv_core.inst_progressctrl.blka_r_bsel0_LC_17_17_0 { inst_midgetv_core.inst_progressctrl.blka.l_cmb_bsel0, inst_midgetv_core.inst_progressctrl.blka.r_bsel0 }
ble_pack inst_midgetv_core.inst_progressctrl.genblk6_l_iwe_LC_17_17_2 { inst_midgetv_core.inst_progressctrl.genblk6.l_iwe }
ble_pack inst_midgetv_core.inst_progressctrl.blka_r_bsel3_LC_17_17_6 { inst_midgetv_core.inst_progressctrl.blka.l_cmb_bsel3, inst_midgetv_core.inst_progressctrl.blka.r_bsel3 }
ble_pack inst_midgetv_core.inst_progressctrl.blka_r_asel3_LC_17_17_7 { inst_midgetv_core.inst_progressctrl.blka.l_cmb_asel3, inst_midgetv_core.inst_progressctrl.blka.r_asel3 }
clb_pack LT_17_17 { inst_midgetv_core.inst_progressctrl.blka_r_bsel0_LC_17_17_0, inst_midgetv_core.inst_progressctrl.genblk6_l_iwe_LC_17_17_2, inst_midgetv_core.inst_progressctrl.blka_r_bsel3_LC_17_17_6, inst_midgetv_core.inst_progressctrl.blka_r_asel3_LC_17_17_7 }
set_location LT_17_17 17 17
ble_pack i_LEDs.LED3_26_LC_17_18_0 { i_LEDs.i1541_3_lut, i_LEDs.LED3_26 }
clb_pack LT_17_18 { i_LEDs.LED3_26_LC_17_18_0 }
set_location LT_17_18 17 18
ble_pack inst_midgetv_core.inst_wai.genblk1_genblk1_genblk1_L_95_LC_17_19_3 { inst_midgetv_core.inst_wai.genblk1.genblk1.genblk1.L_95 }
ble_pack i_LEDs.bluesource_is_uart_25_LC_17_19_5 { i2321_4_lut, i_LEDs.bluesource_is_uart_25 }
ble_pack i_LEDs.i1_2_lut_LC_17_19_6 { i_LEDs.i1_2_lut }
ble_pack i1538_2_lut_3_lut_LC_17_19_7 { i1538_2_lut_3_lut }
clb_pack LT_17_19 { inst_midgetv_core.inst_wai.genblk1_genblk1_genblk1_L_95_LC_17_19_3, i_LEDs.bluesource_is_uart_25_LC_17_19_5, i_LEDs.i1_2_lut_LC_17_19_6, i1538_2_lut_3_lut_LC_17_19_7 }
set_location LT_17_19 17 19
ble_pack led_ACK_O_I_0_2_lut_LC_17_20_0 { led_ACK_O_I_0_2_lut }
ble_pack i_BBUART.STB_I_I_0_2_lut_3_lut_LC_17_20_2 { i_BBUART.STB_I_I_0_2_lut_3_lut }
ble_pack i_LEDs.i2_3_lut_LC_17_20_4 { i_LEDs.i2_3_lut }
clb_pack LT_17_20 { led_ACK_O_I_0_2_lut_LC_17_20_0, i_BBUART.STB_I_I_0_2_lut_3_lut_LC_17_20_2, i_LEDs.i2_3_lut_LC_17_20_4 }
set_location LT_17_20 17 20
ble_pack inst_midgetv_core.inst_progressctrl.genblk3_rSTB_O_64_LC_17_21_2 { inst_midgetv_core.inst_progressctrl.next_STB_O_I_13_4_lut, inst_midgetv_core.inst_progressctrl.genblk3.rSTB_O_64 }
ble_pack inst_midgetv_core.inst_progressctrl.genblk3_rsram_stb_65_LC_17_21_3 { inst_midgetv_core.inst_progressctrl.next_sram_stb_I_16_3_lut_4_lut, inst_midgetv_core.inst_progressctrl.genblk3.rsram_stb_65 }
clb_pack LT_17_21 { inst_midgetv_core.inst_progressctrl.genblk3_rSTB_O_64_LC_17_21_2, inst_midgetv_core.inst_progressctrl.genblk3_rsram_stb_65_LC_17_21_3 }
set_location LT_17_21 17 21
ble_pack CONSTANT_ZERO_LUT4_LC_18_12_0 { CONSTANT_ZERO_LUT4 }
clb_pack LT_18_12 { CONSTANT_ZERO_LUT4_LC_18_12_0 }
set_location LT_18_12 18 12
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d33_LC_18_13_0 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d33 }
ble_pack inst_midgetv_core.inst_ucodepc.sa32_I_0_2_lut_LC_18_13_1 { inst_midgetv_core.inst_ucodepc.sa32_I_0_2_lut }
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d32_LC_18_13_3 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d32 }
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d14_LC_18_13_4 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d14 }
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d38_LC_18_13_7 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d38 }
clb_pack LT_18_13 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d33_LC_18_13_0, inst_midgetv_core.inst_ucodepc.sa32_I_0_2_lut_LC_18_13_1, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d32_LC_18_13_3, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d14_LC_18_13_4, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d38_LC_18_13_7 }
set_location LT_18_13 18 13
ble_pack inst_midgetv_core.inst_progressctrl.blka_l_usedefault_LC_18_14_0 { inst_midgetv_core.inst_progressctrl.blka.l_usedefault }
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d35_LC_18_14_1 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d35 }
ble_pack inst_midgetv_core.inst_wai.genblk1_L_2320_LC_18_14_3 { inst_midgetv_core.inst_wai.genblk1.L_2320 }
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d09_LC_18_14_4 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d09 }
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d21_LC_18_14_5 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d21 }
ble_pack inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d10_LC_18_14_7 { inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d10 }
clb_pack LT_18_14 { inst_midgetv_core.inst_progressctrl.blka_l_usedefault_LC_18_14_0, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d35_LC_18_14_1, inst_midgetv_core.inst_wai.genblk1_L_2320_LC_18_14_3, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d09_LC_18_14_4, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d21_LC_18_14_5, inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.cmb_d10_LC_18_14_7 }
set_location LT_18_14 18 14
ble_pack inst_midgetv_core.inst_progressctrl.blka_r_bsel1_LC_18_15_3 { inst_midgetv_core.inst_progressctrl.blka.l_cmb_bsel1, inst_midgetv_core.inst_progressctrl.blka.r_bsel1 }
clb_pack LT_18_15 { inst_midgetv_core.inst_progressctrl.blka_r_bsel1_LC_18_15_3 }
set_location LT_18_15 18 15
ble_pack inst_midgetv_core.inst_progressctrl.blka_r_bsel2_LC_18_16_2 { inst_midgetv_core.inst_progressctrl.blka.l_cmb_bsel2, inst_midgetv_core.inst_progressctrl.blka.r_bsel2 }
clb_pack LT_18_16 { inst_midgetv_core.inst_progressctrl.blka_r_bsel2_LC_18_16_2 }
set_location LT_18_16 18 16
ble_pack inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d21_0.l_LC_18_17_0 { inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d21_0.l, inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt0.y }
ble_pack inst_midgetv_core.inst_shiftcounter.genblk1_reg_shcnt40_1_LC_18_17_1 { inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_0.l, inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_1, inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_0.y }
ble_pack inst_midgetv_core.inst_shiftcounter.genblk1_reg_shcnt40_2_LC_18_17_2 { inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_1.l, inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_2, inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_1.y }
ble_pack inst_midgetv_core.inst_shiftcounter.genblk1_reg_shcnt40_3_LC_18_17_3 { inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_2.l, inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_3, inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_2.y }
ble_pack inst_midgetv_core.inst_shiftcounter.genblk1_reg_shcnt40_4_LC_18_17_4 { inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_3.l, inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_4, inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt41_3.y }
ble_pack inst_midgetv_core.inst_shiftcounter.genblk1_cmb_lastshift.l_LC_18_17_5 { inst_midgetv_core.inst_shiftcounter.genblk1_cmb_lastshift.l }
ble_pack inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d43_0.l_LC_18_17_6 { inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d43_0.l }
ble_pack inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d43_1.l_LC_18_17_7 { inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d43_1.l }
clb_pack LT_18_17 { inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d21_0.l_LC_18_17_0, inst_midgetv_core.inst_shiftcounter.genblk1_reg_shcnt40_1_LC_18_17_1, inst_midgetv_core.inst_shiftcounter.genblk1_reg_shcnt40_2_LC_18_17_2, inst_midgetv_core.inst_shiftcounter.genblk1_reg_shcnt40_3_LC_18_17_3, inst_midgetv_core.inst_shiftcounter.genblk1_reg_shcnt40_4_LC_18_17_4, inst_midgetv_core.inst_shiftcounter.genblk1_cmb_lastshift.l_LC_18_17_5, inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d43_0.l_LC_18_17_6, inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d43_1.l_LC_18_17_7 }
set_location LT_18_17 18 17
ble_pack inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrb.we_I_0_2_lut_LC_18_18_1 { inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrb.we_I_0_2_lut }
ble_pack inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrh.we_I_0_2_lut_LC_18_18_3 { inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrh.we_I_0_2_lut }
ble_pack inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrh.we_I_0_2_lut_LC_18_18_4 { inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrh.we_I_0_2_lut }
ble_pack inst_midgetv_core.inst_shiftcounter.genblk1_reg_shcnt40_0_LC_18_18_6 { inst_midgetv_core.inst_shiftcounter.genblk1_cmb_shcnt0.l, inst_midgetv_core.inst_shiftcounter.genblk1.reg_shcnt40_0 }
ble_pack inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d21_1.l_LC_18_18_7 { inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d21_1.l }
clb_pack LT_18_18 { inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrb.we_I_0_2_lut_LC_18_18_1, inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrh.we_I_0_2_lut_LC_18_18_3, inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrh.we_I_0_2_lut_LC_18_18_4, inst_midgetv_core.inst_shiftcounter.genblk1_reg_shcnt40_0_LC_18_18_6, inst_midgetv_core.inst_shiftcounter.genblk1_cmb_d21_1.l_LC_18_18_7 }
set_location LT_18_18 18 18
ble_pack inst_midgetv_core.inst_rai.genblk1_L_sel_3_LC_18_19_3 { inst_midgetv_core.inst_rai.genblk1.L_sel_3 }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_sel0hack_LC_18_19_4 { inst_midgetv_core.inst_rai.genblk1.L_sel0hack }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_sel0h_LC_18_19_5 { inst_midgetv_core.inst_rai.genblk1.L_sel0h }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_sel_0_LC_18_19_6 { inst_midgetv_core.inst_rai.genblk1.L_sel_0 }
ble_pack inst_midgetv_core.inst_wai.genblk1_L_2326_LC_18_19_7 { inst_midgetv_core.inst_wai.genblk1.L_2326 }
clb_pack LT_18_19 { inst_midgetv_core.inst_rai.genblk1_L_sel_3_LC_18_19_3, inst_midgetv_core.inst_rai.genblk1_L_sel0hack_LC_18_19_4, inst_midgetv_core.inst_rai.genblk1_L_sel0h_LC_18_19_5, inst_midgetv_core.inst_rai.genblk1_L_sel_0_LC_18_19_6, inst_midgetv_core.inst_wai.genblk1_L_2326_LC_18_19_7 }
set_location LT_18_19 18 19
ble_pack inst_midgetv_core.inst_rai.genblk1_L_b1a_LC_18_27_0 { inst_midgetv_core.inst_rai.genblk1.L_b1a }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_b3a_LC_18_27_2 { inst_midgetv_core.inst_rai.genblk1.L_b3a }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_ss1_LC_18_27_3 { inst_midgetv_core.inst_rai.genblk1.L_ss1 }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_b4a_LC_18_27_5 { inst_midgetv_core.inst_rai.genblk1.L_b4a }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_ss0_LC_18_27_6 { inst_midgetv_core.inst_rai.genblk1.L_ss0 }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_b0a_LC_18_27_7 { inst_midgetv_core.inst_rai.genblk1.L_b0a }
clb_pack LT_18_27 { inst_midgetv_core.inst_rai.genblk1_L_b1a_LC_18_27_0, inst_midgetv_core.inst_rai.genblk1_L_b3a_LC_18_27_2, inst_midgetv_core.inst_rai.genblk1_L_ss1_LC_18_27_3, inst_midgetv_core.inst_rai.genblk1_L_b4a_LC_18_27_5, inst_midgetv_core.inst_rai.genblk1_L_ss0_LC_18_27_6, inst_midgetv_core.inst_rai.genblk1_L_b0a_LC_18_27_7 }
set_location LT_18_27 18 27
ble_pack inst_midgetv_core.inst_rai.genblk1_L_Rai4_LC_18_28_0 { inst_midgetv_core.inst_rai.genblk1.L_Rai4 }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_Rai0_LC_18_28_2 { inst_midgetv_core.inst_rai.genblk1.L_Rai0 }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_Rai1_LC_18_28_4 { inst_midgetv_core.inst_rai.genblk1.L_Rai1 }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_Rai5_LC_18_28_5 { inst_midgetv_core.inst_rai.genblk1.L_Rai5 }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_Rai3_LC_18_28_6 { inst_midgetv_core.inst_rai.genblk1.L_Rai3 }
clb_pack LT_18_28 { inst_midgetv_core.inst_rai.genblk1_L_Rai4_LC_18_28_0, inst_midgetv_core.inst_rai.genblk1_L_Rai0_LC_18_28_2, inst_midgetv_core.inst_rai.genblk1_L_Rai1_LC_18_28_4, inst_midgetv_core.inst_rai.genblk1_L_Rai5_LC_18_28_5, inst_midgetv_core.inst_rai.genblk1_L_Rai3_LC_18_28_6 }
set_location LT_18_28 18 28
ble_pack inst_midgetv_core.inst_rai.genblk1_L_b2a_LC_18_29_4 { inst_midgetv_core.inst_rai.genblk1.L_b2a }
ble_pack inst_midgetv_core.inst_rai.genblk1_L_Rai2_LC_18_29_6 { inst_midgetv_core.inst_rai.genblk1.L_Rai2 }
clb_pack LT_18_29 { inst_midgetv_core.inst_rai.genblk1_L_b2a_LC_18_29_4, inst_midgetv_core.inst_rai.genblk1_L_Rai2_LC_18_29_6 }
set_location LT_18_29 18 29
ble_pack inst_midgetv_core.inst_rai.genblk1_genblk1_L_Rai8_LC_18_30_2 { inst_midgetv_core.inst_rai.genblk1.genblk1.L_Rai8 }
ble_pack inst_midgetv_core.inst_rai.genblk1_genblk1_genblk1_L_Rai9_LC_18_30_6 { inst_midgetv_core.inst_rai.genblk1.genblk1.genblk1.L_Rai9 }
clb_pack LT_18_30 { inst_midgetv_core.inst_rai.genblk1_genblk1_L_Rai8_LC_18_30_2, inst_midgetv_core.inst_rai.genblk1_genblk1_genblk1_L_Rai9_LC_18_30_6 }
set_location LT_18_30 18 30
ble_pack inst_midgetv_core.inst_rai.genblk1_L_Rai6_LC_20_28_7 { inst_midgetv_core.inst_rai.genblk1.L_Rai6 }
clb_pack LT_20_28 { inst_midgetv_core.inst_rai.genblk1_L_Rai6_LC_20_28_7 }
set_location LT_20_28 20 28
ble_pack inst_midgetv_core.inst_rai.genblk1_L_Rai7_LC_20_30_7 { inst_midgetv_core.inst_rai.genblk1.L_Rai7 }
clb_pack LT_20_30 { inst_midgetv_core.inst_rai.genblk1_L_Rai7_LC_20_30_7 }
set_location LT_20_30 20 30
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.ucode1 19 13
set_location inst_midgetv_core.inst_ucode.genblk1_inst_2ebr.ucode0 19 11
set_location inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrh.genblk1_ebrh.genblk1.mem 19 29
set_location inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrh.genblk1_ebrb.genblk1.mem 19 27
set_location inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrb.genblk1_ebrh.genblk1.mem 19 25
set_location inst_midgetv_core.inst_ebr.ebrh.genblk1_ebrb.genblk1_ebrb.genblk1.mem 19 23
set_location inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrh.genblk1_ebrh.genblk1.mem 19 21
set_location inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrh.genblk1_ebrb.genblk1.mem 19 19
set_location inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrb.genblk1_ebrh.genblk1.mem 19 17
set_location inst_midgetv_core.inst_ebr.ebrb.genblk1_ebrb.genblk1_ebrb.genblk1.mem 19 15
set_io TX 9
set_io RX 6
set_io LED4 23
set_io LED3 25
set_io LED2 27
set_io LED1 26
set_io CLK 35
